In [4]:
import pandas as pd
import numpy as np
import math
from Python import Scrapper_Blockchain_Func as sbf
from Python import procces_table as pt

### Este Codigo sirve para limpiar todos los datos Scrappeados
### Cleaning all data that Scrapped before and unific as one

- Unificamos la data
- Agrupamos por su tiempo de modo que sera por dia
- Creamos varias tablas para su posterior uso

In [3]:
data_copy=pd.read_csv("Blockchain_Tables/block_tables_crudo.csv")
data=data_copy.copy(deep=True)

In [4]:
import os

In [ ]:
 data=data.drop_duplicates()

In [6]:
dir_tables=os.listdir("Blockchain_Tables/block_constructor")

In [15]:
dir_tables=os.listdir("Blockchain_Tables/block_constructor/")

In [21]:
data=pd.read_csv("Blockchain_Tables/data_crudo.csv")

In [22]:
data.shape

(600358, 20)

In [24]:
(max(data["Height"])-data.shape[0])/50

636.92

In [25]:
data_old=pd.read_csv("block_tables_crudo.csv")

In [26]:
data.shape[0]-data_old.shape[0]

946

In [2]:
pt.init_lost_block()

Hemos Finalizado
El Proceso se realizo exitosamente!, Revisar las Paginas Erradas

In [3]:
data_lost=pd.read_csv("Blockchain_Tables/rang_paginas_erradas.csv")
data_lost

     Unnamed: 0  Ini Page  Final Page  I block  F block
0             0     12662       12665      747      751
1             1     12659       12662      897      903
2             2     12655       12661      953     1101
3             3     12654       12657     1151     1153
4             4     12651       12654     1297     1303
..          ...       ...         ...      ...      ...
166         166       187         433   612320   624484
167         167       127         130   627475   627497
168         168       102         106   628674   628720
169         169        74          78   630111   630166
170         170        73          77   630167   630189

[171 rows x 5 columns]

In [8]:
prueba=(range(data_lost["Ini Page"][0],data_lost["Final Page"][0]),range(data_lost["I block"][0],data_lost["F block"][0]))
type(prueba)

tuple

In [10]:
type(prueba[0])

range

In [4]:
data_lost["T block"]=data_lost["F block"]-data_lost["I block"]
sum(data_lost["T block"])

31846

In [5]:
data_old=pd.read_csv("Blockchain_Tables/data_crudo.csv")
suma_t=data_old.shape[0]+sum(data_lost["T block"])
suma_t==max(data_old["Height"])

True

   Unnamed: 0      0      1
0           0  12660  12663
1           1  12656  12660
2           2  12653  12658
3           3  12651  12655
4           4  12648  12652

In [31]:
data_error["Total"]=data_error["1"]-data_error["0"]

In [32]:
sum(data_error["Total"])

1151

In [33]:
1151/19

60.578947368421055

In [34]:
data_error

     Unnamed: 0      0      1  Total
0             0  12660  12663      3
1             1  12656  12660      4
2             2  12653  12658      5
3             3  12651  12655      4
4             4  12648  12652      4
..          ...    ...    ...    ...
166         166    185    431    246
167         167    125    128      3
168         168    100    104      4
169         169     71     75      4
170         170     71     74      3

[171 rows x 4 columns]

In [22]:
graph=[" / "," - "," \ "," | "]
for i in range(0,1000):
    print("\r",i, end='')

 999

In [27]:
graph=[" / "," - "," \ "," | "]
a=0
def graph_bar(a):
    graph=[" / "," - "," \ "," | "]
    if a==3:
        print("\r",graph[a], end='')
        a=0
    else:
        print("\r",graph[a], end='')
        a+=1
    return a

In [38]:
a=graph_bar(a)

\

In [2]:
def graph_bar(g):
    graph=[" / "," - "," \ "," | "]
    if g==3:
        print("\r",graph[g], end='')
        g=0
    else:
        print("\r",graph[g], end='')
        g+=1
    return g

In [4]:
g=graph_bar(g)

/

In [1]:
import pandas as pd
import numpy as np
import math
import Scrapper_Blockchain_Func as sf
import procces_table as pt

In [2]:
sf.scrapper_partitions(12000,1)

34042
escrapeando pagina:  12000
  -

In [3]:
n=[1 for i in range(3)]
type(n)==tuple

False

In [3]:
pt.init_lost_block()

Hemos Finalizado

In [9]:
data_=pd.read_csv("Blockchain_Tables/rang_paginas_erradas.csv")

In [10]:
data_

     Unnamed: 0  Ini Page  Final Page  I block  F block
0             0     12664       12667      747      751
1             1     12661       12664      897      903
2             2     12657       12663      953     1101
3             3     12656       12659     1151     1153
4             4     12653       12656     1297     1303
..          ...       ...         ...      ...      ...
166         166       189         435   612320   624484
167         167       129         132   627475   627497
168         168       104         108   628674   628720
169         169        75          79   630111   630166
170         170        75          78   630167   630189

[171 rows x 5 columns]

In [10]:
data=data_[data_["Ini Page"]>12663]

In [5]:
data

NameError: name 'data' is not defined

In [15]:
data.to_csv("Blockchain_Tables/rang_paginas_erradas.csv")

In [1]:
import pandas as pd
import numpy as np
import math
import Scrapper_Blockchain_Func as sf
import procces_table as pt

In [2]:
sf.scrapper_lost_block()

range(747, 752)
escrapeando pagina:  12664
['903', '902', '901', '900', '899', '898', '897', '896', '895', '894', '893', '892', '891', '890', '889', '888', '887', '886', '885', '884', '883', '882', '881', '880', '879', '878', '877', '876', '875', '874', '873', '872', '871', '870', '869', '868', '867', '866', '865', '864', '863', '862', '861', '860', '859', '858', '857', '856', '855', '854']
el programa colapso
Cantidad de bloques no encontrado 50
escrapeando pagina:  12665
['853', '852', '851', '850', '849', '848', '847', '846', '845', '844', '843', '842', '841', '840', '839', '838', '837', '836', '835', '834', '833', '832', '831', '830', '829', '828', '827', '826', '825', '824', '823', '822', '821', '820', '819', '818', '817', '816', '815', '814', '813', '812', '811', '810', '809', '808', '807', '806', '805', '804']
el programa colapso
Cantidad de bloques no encontrado 50
escrapeando pagina:  12666
['803', '802', '801', '800', '799', '798', '797', '796', '795', '794', '793', '792', '791', '790', '789', '788', '787', '786', '785', '784', '783', '782', '781', '780', '779', '778', '777', '776', '775', '774', '773', '772', '771', '770', '769', '768', '767', '766', '765', '764', '763', '762', '761', '760', '759', '758', '757', '756', '755', '754']
el programa colapso
Cantidad de bloques no encontrado 50
range(747, 752)

KeyError: Index(['Height'], dtype='object')

In [11]:
data=pd.read_csv("Blockchain_Tables/rang_paginas_erradas.csv")
datos = list.to_numeric(v)
datos

AttributeError: type object 'list' has no attribute 'to_numeric'

In [3]:
data = data.astype(int)
data.to_csv("Blockchain_Tables/rang_paginas_erradas.csv")
data.type()

NameError: name 'data' is not defined

In [8]:
v=['825', '824', '823', '822', '821', '820', '819', '818', '817', '816', '815', '814', '813', '812', '811', '810', '809', '808', '807', '806', '805', '804', '803', '802', '801', '800', '799', '798', '797', '796', '795', '794', '793', '792', '791', '790', '789', '788', '787', '786', '785', '784', '783', '782', '781', '780', '779', '778', '777', '776']

In [4]:
range(len(data))

range(0, 1)

In [10]:
 for i in range(len(data)):
    print(i)
    n_pages_1= range(data["Ini Page"][i],data["Final Page"][i])
    n_range_block= range(data["I block"][i],data["F block"][i])

0

In [11]:

n_pages_1

range(12664, 12667)

In [4]:
def prueba():
    d=[2]
    c=[]
    return d,c

In [5]:
d,c=prueba()

In [7]:
d

[2]

In [8]:
data

NameError: name 'data' is not defined

In [2]:
def prueba():
    v=[None]
    c=[None]
    return v,c

In [4]:
v,c=prueba()

In [5]:
v

[None]

In [8]:
data=pd.read_csv("Blockchain_Tables/rang_paginas_erradas.csv")

In [9]:
data.info

<bound method DataFrame.info of    Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Ini Page  Final Page  I block  \
0           0             0               0     12664       12667      747

   F block
0      751  >

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1 non-null      int64
 1   Unnamed: 0.1    1 non-null      int64
 2   Unnamed: 0.1.1  1 non-null      int64
 3   Ini Page        1 non-null      int64
 4   Final Page      1 non-null      int64
 5   I block         1 non-null      int64
 6   F block         1 non-null      int64
dtypes: int64(7)
memory usage: 184.0 bytes

In [13]:
data=data.apply(pd.to_numeric)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1 non-null      int64
 1   Unnamed: 0.1    1 non-null      int64
 2   Unnamed: 0.1.1  1 non-null      int64
 3   Ini Page        1 non-null      int64
 4   Final Page      1 non-null      int64
 5   I block         1 non-null      int64
 6   F block         1 non-null      int64
dtypes: int64(7)
memory usage: 184.0 bytes

In [3]:
v=['892', '891', '890', '889', '888', '887', '886', '885', '884', '883', '882', '881', '880', '879', '878', '877', '876', '875', '874', '873', '872', '871', '870', '869', '868', '867', '866', '865', '864', '863', '862', '861', '860', '859', '858', '857', '856', '855', '854', '853', '852', '851', '850', '849', '848', '847', '846', '845', '844', '843']