In [1]:
import urllib, json
import requests

In [2]:
import pandas as pd

In [3]:
# Construyendo el pipe line que es la unificacion de todas las tablas de tados blockchain

# Creando el estimado del 1 TH de recompensa basado en 24 horas

# vamos a revisar demas apis 

# COntruccion de rentabilidad basado en electricidad con tablas ya hechas

#

In [10]:
import Blockchain_Api as ba

In [13]:
x,v= ba.pool_pie()

In [14]:
x

             Pool  Block_Founds  BF_Percent
0       NovaBlock            10      0.0120
1          ViaBTC            50      0.0599
2         BTC.com           114      0.1365
3          F2Pool           157      0.1880
4        OKExPool            53      0.0635
5         AntPool           114      0.1365
6         Unknown            78      0.0934
7   1THash&58COIN            50      0.0599
8         BTC.TOP            25      0.0299
9       SlushPool            37      0.0443
10     Huobi.pool            36      0.0431
11         Poolin           104      0.1246
12        EMCD.IO             3      0.0036
13    Bitcoin.com             2      0.0024
14       KanoPool             1      0.0012
15        WAYI.CN             1      0.0012

In [15]:
v

835