In [4]:
import pandas as pd
import numpy as np
import math
from Python import Scrapper_Blockchain_Func as sf
from Python import procces_table as pt

### Este Codigo sirve para limpiar todos los datos Scrappeados
### Cleaning all data that Scrapped before and unific as one

- Unificamos la data
- Agrupamos por su tiempo de modo que sera por dia
- Creamos varias tablas para su posterior uso

In [3]:
data_copy=pd.read_csv("Blockchain_Tables/block_tables_crudo.csv")
data=data_copy.copy(deep=True)

In [4]:
import os

In [ ]:
 data=data.drop_duplicates()

In [6]:
dir_tables=os.listdir("Blockchain_Tables/block_constructor")

In [15]:
dir_tables=os.listdir("Blockchain_Tables/block_constructor/")

In [21]:
data=pd.read_csv("Blockchain_Tables/data_crudo.csv")

In [22]:
data.shape

(600358, 20)

In [24]:
(max(data["Height"])-data.shape[0])/50

636.92

In [25]:
data_old=pd.read_csv("block_tables_crudo.csv")

In [26]:
data.shape[0]-data_old.shape[0]

946

In [2]:
pt.init_lost_block()

Hemos Finalizado
El Proceso se realizo exitosamente!, Revisar las Paginas Erradas

In [3]:
data_lost=pd.read_csv("Blockchain_Tables/rang_paginas_erradas.csv")
data_lost

     Unnamed: 0  Ini Page  Final Page  I block  F block
0             0     12662       12665      747      751
1             1     12659       12662      897      903
2             2     12655       12661      953     1101
3             3     12654       12657     1151     1153
4             4     12651       12654     1297     1303
..          ...       ...         ...      ...      ...
166         166       187         433   612320   624484
167         167       127         130   627475   627497
168         168       102         106   628674   628720
169         169        74          78   630111   630166
170         170        73          77   630167   630189

[171 rows x 5 columns]

In [8]:
prueba=(range(data_lost["Ini Page"][0],data_lost["Final Page"][0]),range(data_lost["I block"][0],data_lost["F block"][0]))
type(prueba)

tuple

In [10]:
type(prueba[0])

range

In [4]:
data_lost["T block"]=data_lost["F block"]-data_lost["I block"]
sum(data_lost["T block"])

31846

In [5]:
data_old=pd.read_csv("Blockchain_Tables/data_crudo.csv")
suma_t=data_old.shape[0]+sum(data_lost["T block"])
suma_t==max(data_old["Height"])

True

   Unnamed: 0      0      1
0           0  12660  12663
1           1  12656  12660
2           2  12653  12658
3           3  12651  12655
4           4  12648  12652

In [31]:
data_error["Total"]=data_error["1"]-data_error["0"]

In [32]:
sum(data_error["Total"])

1151

In [33]:
1151/19

60.578947368421055

In [34]:
data_error

     Unnamed: 0      0      1  Total
0             0  12660  12663      3
1             1  12656  12660      4
2             2  12653  12658      5
3             3  12651  12655      4
4             4  12648  12652      4
..          ...    ...    ...    ...
166         166    185    431    246
167         167    125    128      3
168         168    100    104      4
169         169     71     75      4
170         170     71     74      3

[171 rows x 4 columns]

In [22]:
graph=[" / "," - "," \ "," | "]
for i in range(0,1000):
    print("\r",i, end='')

 999

In [27]:
graph=[" / "," - "," \ "," | "]
a=0
def graph_bar(a):
    graph=[" / "," - "," \ "," | "]
    if a==3:
        print("\r",graph[a], end='')
        a=0
    else:
        print("\r",graph[a], end='')
        a+=1
    return a

In [38]:
a=graph_bar(a)

\

In [2]:
def graph_bar(g):
    graph=[" / "," - "," \ "," | "]
    if g==3:
        print("\r",graph[g], end='')
        g=0
    else:
        print("\r",graph[g], end='')
        g+=1
    return g

In [4]:
g=graph_bar(g)

/

In [1]:
import pandas as pd
import numpy as np
import math
import Scrapper_Blockchain_Func as sf
import procces_table as pt

In [2]:
sf.scrapper_partitions(12000,1)

34042
escrapeando pagina:  12000
  -

In [3]:
n=[1 for i in range(3)]
type(n)==tuple

False

In [3]:
pt.init_lost_block()

Hemos Finalizado

In [9]:
data_=pd.read_csv("Blockchain_Tables/rang_paginas_erradas.csv")

In [10]:
data_

     Unnamed: 0  Ini Page  Final Page  I block  F block
0             0     12664       12667      747      751
1             1     12661       12664      897      903
2             2     12657       12663      953     1101
3             3     12656       12659     1151     1153
4             4     12653       12656     1297     1303
..          ...       ...         ...      ...      ...
166         166       189         435   612320   624484
167         167       129         132   627475   627497
168         168       104         108   628674   628720
169         169        75          79   630111   630166
170         170        75          78   630167   630189

[171 rows x 5 columns]

In [10]:
data=data_[data_["Ini Page"]>12663]

In [5]:
data

NameError: name 'data' is not defined

In [15]:
data.to_csv("Blockchain_Tables/rang_paginas_erradas.csv")

In [28]:
import pandas as pd
import numpy as np
import math
from Python import Scrapper_Blockchain_Func as sf
from Python import procces_table as pt

ModuleNotFoundError: No module named 'Python'

In [2]:
sf.scrapper_lost_block()

range(747, 752)
escrapeando pagina:  12664
['903', '902', '901', '900', '899', '898', '897', '896', '895', '894', '893', '892', '891', '890', '889', '888', '887', '886', '885', '884', '883', '882', '881', '880', '879', '878', '877', '876', '875', '874', '873', '872', '871', '870', '869', '868', '867', '866', '865', '864', '863', '862', '861', '860', '859', '858', '857', '856', '855', '854']
el programa colapso
Cantidad de bloques no encontrado 50
escrapeando pagina:  12665
['853', '852', '851', '850', '849', '848', '847', '846', '845', '844', '843', '842', '841', '840', '839', '838', '837', '836', '835', '834', '833', '832', '831', '830', '829', '828', '827', '826', '825', '824', '823', '822', '821', '820', '819', '818', '817', '816', '815', '814', '813', '812', '811', '810', '809', '808', '807', '806', '805', '804']
el programa colapso
Cantidad de bloques no encontrado 50
escrapeando pagina:  12666
['803', '802', '801', '800', '799', '798', '797', '796', '795', '794', '793', '792', '791', '790', '789', '788', '787', '786', '785', '784', '783', '782', '781', '780', '779', '778', '777', '776', '775', '774', '773', '772', '771', '770', '769', '768', '767', '766', '765', '764', '763', '762', '761', '760', '759', '758', '757', '756', '755', '754']
el programa colapso
Cantidad de bloques no encontrado 50
range(747, 752)

KeyError: Index(['Height'], dtype='object')

In [11]:
data=pd.read_csv("Blockchain_Tables/rang_paginas_erradas.csv")
datos = list.to_numeric(v)
datos

AttributeError: type object 'list' has no attribute 'to_numeric'

In [3]:
data = data.astype(int)
data.to_csv("Blockchain_Tables/rang_paginas_erradas.csv")
data.type()

NameError: name 'data' is not defined

In [8]:
v=['825', '824', '823', '822', '821', '820', '819', '818', '817', '816', '815', '814', '813', '812', '811', '810', '809', '808', '807', '806', '805', '804', '803', '802', '801', '800', '799', '798', '797', '796', '795', '794', '793', '792', '791', '790', '789', '788', '787', '786', '785', '784', '783', '782', '781', '780', '779', '778', '777', '776']

In [4]:
range(len(data))

range(0, 1)

In [10]:
 for i in range(len(data)):
    print(i)
    n_pages_1= range(data["Ini Page"][i],data["Final Page"][i])
    n_range_block= range(data["I block"][i],data["F block"][i])

0

In [11]:

n_pages_1

range(12664, 12667)

In [4]:
def prueba():
    d=[2]
    c=[]
    return d,c

In [5]:
d,c=prueba()

In [7]:
d

[2]

In [8]:
data

NameError: name 'data' is not defined

In [2]:
def prueba():
    v=[None]
    c=[None]
    return v,c

In [4]:
v,c=prueba()

In [5]:
v

[None]

In [8]:
data=pd.read_csv("Blockchain_Tables/rang_paginas_erradas.csv")

In [9]:
data.info

<bound method DataFrame.info of    Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Ini Page  Final Page  I block  \
0           0             0               0     12664       12667      747

   F block
0      751  >

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1 non-null      int64
 1   Unnamed: 0.1    1 non-null      int64
 2   Unnamed: 0.1.1  1 non-null      int64
 3   Ini Page        1 non-null      int64
 4   Final Page      1 non-null      int64
 5   I block         1 non-null      int64
 6   F block         1 non-null      int64
dtypes: int64(7)
memory usage: 184.0 bytes

In [13]:
data=data.apply(pd.to_numeric)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1 non-null      int64
 1   Unnamed: 0.1    1 non-null      int64
 2   Unnamed: 0.1.1  1 non-null      int64
 3   Ini Page        1 non-null      int64
 4   Final Page      1 non-null      int64
 5   I block         1 non-null      int64
 6   F block         1 non-null      int64
dtypes: int64(7)
memory usage: 184.0 bytes

In [3]:
v=['892', '891', '890', '889', '888', '887', '886', '885', '884', '883', '882', '881', '880', '879', '878', '877', '876', '875', '874', '873', '872', '871', '870', '869', '868', '867', '866', '865', '864', '863', '862', '861', '860', '859', '858', '857', '856', '855', '854', '853', '852', '851', '850', '849', '848', '847', '846', '845', '844', '843']

In [13]:
data=pd.read_csv("../blockchain data/bc data/data_crudo_check.csv")

In [4]:
data.head()

,Unnamed: 0,Hash,Confirmations,Timestamp,Height,Number of Transactions,Difficulty,Merkle root,Version,Bits,...,Transaction Volume,Block Reward,Fee Reward,Miner Name,URL Miner,Unnamed: 0.1,F block,Final Page,I block,Ini Page
0,0,000000000000000000073b6fdcfef8e7fe1d791e0d03e9...,1,2020-05-29 17:48,632204.0,"2,874","15,138,043,247,082.88",8c750f293d48eb7ee6ad3c1b9fd918d231647000cd0cfd...,0x20c00000,"387,094,518",...,3295.16333366 BTC,6.25000000 BTC,0.69030603 BTC,BTC.com,/btc/address/bc1qjl8uwezzlech723lpnyuza0h2cdkv...,NaN,NaN,NaN,NaN,NaN
1,1,0000000000000000000e011573654cdc1338b37354a7b9...,2,2020-05-29 17:43,632203.0,"2,794","15,138,043,247,082.88",5774e22670cafba34c0e560beefaf7f30c5c15840bba59...,0x20000000,"387,094,518",...,3360.42926493 BTC,6.25000000 BTC,0.61549767 BTC,BTC.com,/btc/address/bc1qjl8uwezzlech723lpnyuza0h2cdkv...,NaN,NaN,NaN,NaN,NaN
2,2,000000000000000000016012f36863f0230cc4284332ac...,3,2020-05-29 17:40,632202.0,"2,930","15,138,043,247,082.88",d65f87b39de55155085d96358ffbb55fb88c5e6d76ab37...,0x20800000,"387,094,518",...,2558.25477619 BTC,6.25000000 BTC,0.68014061 BTC,Unknown,/btc/address/147SwRQdpCfj5p8PnfsXV2SsVVpVcz3aPq,NaN,NaN,NaN,NaN,NaN
3,3,000000000000000000073f2b9e7f8dc678f883b35b7c3b...,4,2020-05-29 17:37,632201.0,"3,190","15,138,043,247,082.88",8c48b03673d3594c729c8594add43e8119a214c1973e8f...,0x20000000,"387,094,518",...,4286.11940584 BTC,6.25000000 BTC,0.94487766 BTC,AntPool,/btc/address/12dRugNcdxK39288NjcDV4GX7rMsKCGn6B,NaN,NaN,NaN,NaN,NaN
4,4,00000000000000000002dba669ee459ee630861b459c84...,5,2020-05-29 17:31,632200.0,"2,831","15,138,043,247,082.88",47be90fed6ebc50c7359bc1236de210a25fbcd8a12b1fa...,0x20800000,"387,094,518",...,12282.13969394 BTC,6.25000000 BTC,1.12972137 BTC,SlushPool,/btc/address/1CK6KHY6MHgYvmRQ4PAafKYDrg1ejbH1cE,NaN,NaN,NaN,NaN,NaN

In [7]:
data.shape

(619756, 21)

In [14]:
data.drop(data.columns[data.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [15]:
data= data.drop(['F block', 'Final Page',"I block","Ini Page"], axis=1)

In [16]:
data=data.sort_values(by=['Height'],ascending=False)

In [17]:
data = data.dropna()

In [18]:
data

,Hash,Confirmations,Timestamp,Height,Number of Transactions,Difficulty,Merkle root,Version,Bits,Weight,Size,Nonce,Transaction Volume,Block Reward,Fee Reward,Miner Name,URL Miner
0,000000000000000000073b6fdcfef8e7fe1d791e0d03e9...,1,2020-05-29 17:48,632204.0,"2,874","15,138,043,247,082.88",8c750f293d48eb7ee6ad3c1b9fd918d231647000cd0cfd...,0x20c00000,"387,094,518","3,993,183 WU","1,208,670 bytes","1,180,895,046",3295.16333366 BTC,6.25000000 BTC,0.69030603 BTC,BTC.com,/btc/address/bc1qjl8uwezzlech723lpnyuza0h2cdkv...
1,0000000000000000000e011573654cdc1338b37354a7b9...,2,2020-05-29 17:43,632203.0,"2,794","15,138,043,247,082.88",5774e22670cafba34c0e560beefaf7f30c5c15840bba59...,0x20000000,"387,094,518","3,993,275 WU","1,220,891 bytes","640,333,900",3360.42926493 BTC,6.25000000 BTC,0.61549767 BTC,BTC.com,/btc/address/bc1qjl8uwezzlech723lpnyuza0h2cdkv...
2,000000000000000000016012f36863f0230cc4284332ac...,3,2020-05-29 17:40,632202.0,"2,930","15,138,043,247,082.88",d65f87b39de55155085d96358ffbb55fb88c5e6d76ab37...,0x20800000,"387,094,518","3,993,427 WU","1,153,318 bytes","2,746,715,948",2558.25477619 BTC,6.25000000 BTC,0.68014061 BTC,Unknown,/btc/address/147SwRQdpCfj5p8PnfsXV2SsVVpVcz3aPq
3,000000000000000000073f2b9e7f8dc678f883b35b7c3b...,4,2020-05-29 17:37,632201.0,"3,190","15,138,043,247,082.88",8c48b03673d3594c729c8594add43e8119a214c1973e8f...,0x20000000,"387,094,518","3,993,334 WU","1,241,755 bytes","2,782,270,481",4286.11940584 BTC,6.25000000 BTC,0.94487766 BTC,AntPool,/btc/address/12dRugNcdxK39288NjcDV4GX7rMsKCGn6B
4,00000000000000000002dba669ee459ee630861b459c84...,5,2020-05-29 17:31,632200.0,"2,831","15,138,043,247,082.88",47be90fed6ebc50c7359bc1236de210a25fbcd8a12b1fa...,0x20800000,"387,094,518","3,993,403 WU","1,373,197 bytes","2,798,989,211",12282.13969394 BTC,6.25000000 BTC,1.12972137 BTC,SlushPool,/btc/address/1CK6KHY6MHgYvmRQ4PAafKYDrg1ejbH1cE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613962,000000009b7262315dbf071787ad3656097b892abffd1f...,"633,746",2009-01-09 03:23,5.0,1.0,1.0,63522845d294ee9b0188ae5cac91bf389a0c3723f084ca...,0x1,"486,604,799",860 WU,215 bytes,"2,011,431,709",0.00000000 BTC,50.00000000 BTC,0.00000000 BTC,Unknown,/btc/address/1JfbZRwdDHKZmuiZgYArJZhcuuzuw2HuMu
613963,000000004ebadb55ee9096c9a2f8880e09da59c0d68b1c...,"633,747",2009-01-09 03:16,4.0,1.0,1.0,df2b060fa2e5e9c8ed5eaf6a45c13753ec8c63282b2688...,0x1,"486,604,799",860 WU,215 bytes,"2,850,094,635",0.00000000 BTC,50.00000000 BTC,0.00000000 BTC,Unknown,/btc/address/15ubicBBWFnvoZLT7GiU2qxjRaKJPdkDMG
613964,0000000082b5015589a3fdf2d4baff403e6f0be035a5d9...,"633,748",2009-01-09 03:02,3.0,1.0,1.0,999e1c837c76a1b7fbb7e57baf87b309960f5ffefbf2a9...,0x1,"486,604,799",860 WU,215 bytes,"1,844,305,925",0.00000000 BTC,50.00000000 BTC,0.00000000 BTC,Unknown,/btc/address/1FvzCLoTPGANNjWoUo6jUGuAG3wg1w4YjR
613965,000000006a625f06636b8bb6ac7b960a8d03705d1ace08...,"633,749",2009-01-09 02:55,2.0,1.0,1.0,9b0fc92260312ce44e74ef369f5c66bbb85848f2eddd5a...,0x1,"486,604,799",860 WU,215 bytes,"1,639,830,024",0.00000000 BTC,50.00000000 BTC,0.00000000 BTC,Unknown,/btc/address/1HLoD9E4SDFFPDiYfNYnkBLQ85Y51J3Zb1
613966,00000000839a8e6886ab5951d76f411475428afc90947e...,"633,750",2009-01-09 02:54,1.0,1.0,1.0,0e3e2357e806b6cdb1f70b54c3a3a17b6714ee1f0e68be...,0x1,"486,604,799",860 WU,215 bytes,"2,573,394,689",0.00000000 BTC,50.00000000 BTC,0.00000000 BTC,Unknown,/btc/address/12c6DSiU4Rq3P4ZxziKxzrL5LmMBrzjrJX

In [19]:
max(data["Height"])-len(data)

12456.0

In [20]:
12456.0/50

249.12

In [21]:
"https://www.blockchain.com/btc/blocks?page="

'https://www.blockchain.com/btc/blocks?page='

In [22]:
pt.find_lost_block()

NameError: name 'pt' is not defined