In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("../../blockchain data/bc data/data_update_2020-07-06.csv")

In [3]:
data.drop(data.columns[data.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [8]:
list(data)

['Hash',
 'Confirmations',
 'Timestamp',
 'Height',
 'Number of Transactions',
 'Difficulty',
 'Merkle root',
 'Version',
 'Bits',
 'Weight',
 'Size',
 'Nonce',
 'Transaction Volume',
 'Block Reward',
 'Fee Reward',
 'Miner Name',
 'URL Miner']

In [4]:
datos=data[['Timestamp','Block Reward','Fee Reward']]

In [5]:
datos.head()

          Timestamp    Block Reward      Fee Reward
0  2020-07-06 22:45  6.25000000 BTC  0.21808885 BTC
1  2020-07-06 22:42  6.25000000 BTC  0.30686360 BTC
2  2020-07-06 22:27  6.25000000 BTC  0.25770656 BTC
3  2020-07-06 22:20  6.25000000 BTC  0.28058000 BTC
4  2020-07-06 22:11  6.25000000 BTC  0.27827185 BTC

In [15]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638045 entries, 0 to 638044
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Timestamp     638045 non-null  datetime64[ns]
 1   Height        638045 non-null  int64
 2   Difficulty    638045 non-null  object
 3   Block Reward  638045 non-null  object
 4   Fee Reward    638045 non-null  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 24.3+ MB

In [6]:
datos["Timestamp"]=pd.to_datetime(datos["Timestamp"])

In [7]:
datos.groupby(pd.Grouper(key="Timestamp", freq = '1D'))[['Block Reward']].sum()

                                                 Block Reward
Timestamp
2009-01-09  50.00000000 BTC50.00000000 BTC50.00000000 BTC5...
2009-01-10  50.00000000 BTC50.00000000 BTC50.00000000 BTC5...
2009-01-11  50.00000000 BTC50.00000000 BTC50.00000000 BTC5...
2009-01-12  50.00000000 BTC50.00000000 BTC50.00000000 BTC5...
2009-01-13  50.00000000 BTC50.00000000 BTC50.00000000 BTC5...
...                                                       ...
2020-07-02  6.25000000 BTC6.25000000 BTC6.25000000 BTC6.25...
2020-07-03  6.25000000 BTC6.25000000 BTC6.25000000 BTC6.25...
2020-07-04  6.25000000 BTC6.25000000 BTC6.25000000 BTC6.25...
2020-07-05  6.25000000 BTC6.25000000 BTC6.25000000 BTC6.25...
2020-07-06  6.25000000 BTC6.25000000 BTC6.25000000 BTC6.25...

[4197 rows x 1 columns]

In [29]:
datos.convert_dtypes().dtypes

Timestamp       datetime64[ns]
Height                   Int64
Difficulty              object
Block Reward            string
Fee Reward              string
dtype: object

In [8]:
datos["Block Reward"]=datos['Block Reward'].map(lambda x: x.rstrip(' BTC'))
datos["Fee Reward"]=datos['Fee Reward'].map(lambda x: x.rstrip(' BTC'))
datos.head()

            Timestamp Block Reward  Fee Reward
0 2020-07-06 22:45:00   6.25000000  0.21808885
1 2020-07-06 22:42:00   6.25000000  0.30686360
2 2020-07-06 22:27:00   6.25000000  0.25770656
3 2020-07-06 22:20:00   6.25000000  0.28058000
4 2020-07-06 22:11:00   6.25000000  0.27827185

In [9]:
pd.options.display.float_format = '{:,}'.format

In [10]:
datos[["Block Reward",'Fee Reward']] = datos[["Block Reward",'Fee Reward']].astype('float')

In [11]:
datos.head()

            Timestamp  Block Reward  Fee Reward
0 2020-07-06 22:45:00          6.25  0.21808885
1 2020-07-06 22:42:00          6.25   0.3068636
2 2020-07-06 22:27:00          6.25  0.25770656
3 2020-07-06 22:20:00          6.25     0.28058
4 2020-07-06 22:11:00          6.25  0.27827185

In [73]:
datos=datos.drop(["Height"],axis=1)

In [74]:
datos.head()

            Timestamp  Block Reward  Fee Reward
0 2020-07-06 22:45:00          6.25  0.21808885
1 2020-07-06 22:42:00          6.25   0.3068636
2 2020-07-06 22:27:00          6.25  0.25770656
3 2020-07-06 22:20:00          6.25     0.28058
4 2020-07-06 22:11:00          6.25  0.27827185

In [12]:
datos=datos.groupby(pd.Grouper(key="Timestamp", freq = '1D'))[['Block Reward',"Fee Reward"]].sum()

In [109]:
datos_copy=datos.copy(deep=True)

In [111]:
datos_copy

            Block Reward         Fee Reward
Timestamp
2020-07-06         912.5          35.360644
2020-07-05      1,018.75 25.109559299999997
2020-07-04        981.25 31.870481280000003
2020-07-03      1,018.75  53.78625541000005
2020-07-02       1,025.0 56.014036659999995
...                  ...                ...
2009-01-13       6,150.0                0.0
2009-01-12       4,700.0                0.0
2009-01-11       4,650.0                0.0
2009-01-10       3,050.0                0.0
2009-01-09         700.0                0.0

[4197 rows x 2 columns]

In [113]:
datos_copy=datos.groupby(pd.Grouper(key="Timestamp", freq = '3D'))[['Block Reward',"Fee Reward"]].sum()

KeyError: 'The grouper name Timestamp is not found'

In [13]:
datos

            Block Reward         Fee Reward
Timestamp
2009-01-09         700.0                0.0
2009-01-10       3,050.0                0.0
2009-01-11       4,650.0                0.0
2009-01-12       4,700.0                0.0
2009-01-13       6,150.0                0.0
...                  ...                ...
2020-07-02       1,025.0 56.014036659999995
2020-07-03      1,018.75  53.78625541000005
2020-07-04        981.25 31.870481280000003
2020-07-05      1,018.75 25.109559299999997
2020-07-06         912.5          35.360644

[4197 rows x 2 columns]

In [14]:
datos=datos.sort_values(by=["Timestamp"],ascending=False)

In [15]:
datos

            Block Reward         Fee Reward
Timestamp
2020-07-06         912.5          35.360644
2020-07-05      1,018.75 25.109559299999997
2020-07-04        981.25 31.870481280000003
2020-07-03      1,018.75  53.78625541000005
2020-07-02       1,025.0 56.014036659999995
...                  ...                ...
2009-01-13       6,150.0                0.0
2009-01-12       4,700.0                0.0
2009-01-11       4,650.0                0.0
2009-01-10       3,050.0                0.0
2009-01-09         700.0                0.0

[4197 rows x 2 columns]

In [16]:
datos.to_csv("Data_day_Rewards_block_reward.csv")

In [23]:
data_price=pd.read_csv("../../blockchain data\external data\market-price.csv")

In [131]:
data_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1402 entries, 0 to 1401
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Timestamp     1402 non-null   datetime64[ns]
 1   market-price  1402 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 22.0 KB

In [24]:
data_price["Timestamp"]=pd.to_datetime(data_price["Timestamp"])

In [19]:
data_price

               Timestamp  market-price
0    2009-01-02 23:30:00           0.0
1    2009-01-05 23:30:00           0.0
2    2009-01-08 23:30:00           0.0
3    2009-01-11 23:30:00           0.0
4    2009-01-14 23:30:00           0.0
...                  ...           ...
1397 2020-06-25 00:00:00      9,276.58
1398 2020-06-28 00:00:00      9,004.23
1399 2020-07-01 00:00:00      9,133.97
1400 2020-07-04 00:00:00      9,072.42
1401 2020-07-07 00:00:00      9,348.91

[1402 rows x 2 columns]

In [20]:
data_price=data_price.groupby(pd.Grouper(key="Timestamp", freq = '1D'))

In [127]:
data_price_copy=data_price.copy(deep=True)

In [125]:
data_price_copy

In [21]:
data_price

In [120]:
datos

            Block Reward         Fee Reward
Timestamp
2020-07-06         912.5          35.360644
2020-07-05      1,018.75 25.109559299999997
2020-07-04        981.25 31.870481280000003
2020-07-03      1,018.75  53.78625541000005
2020-07-02       1,025.0 56.014036659999995
...                  ...                ...
2009-01-13       6,150.0                0.0
2009-01-12       4,700.0                0.0
2009-01-11       4,650.0                0.0
2009-01-10       3,050.0                0.0
2009-01-09         700.0                0.0

[4197 rows x 2 columns]

In [142]:
datos_3d=datos.resample('3D').sum()

In [143]:
datos_3d

            Block Reward         Fee Reward
Timestamp
2009-01-09       8,400.0                0.0
2009-01-12      17,300.0                0.0
2009-01-15      17,150.0                0.0
2009-01-18      16,800.0                0.0
2009-01-21      13,850.0                0.0
...                  ...                ...
2020-06-22       2,750.0 124.32731598999999
2020-06-25      2,768.75  97.52975195999997
2020-06-28       2,762.5  96.06624038000002
2020-07-01      3,056.25 172.62600291000007
2020-07-04       2,912.5        92.34068458

[1399 rows x 2 columns]

In [22]:
data_price["Timestamp"]=pd.to_datetime(data_price["Timestamp"])

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [148]:
data_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1402 entries, 0 to 1401
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Timestamp     1402 non-null   datetime64[ns]
 1   market-price  1402 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 22.0 KB

In [150]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4197 entries, 2020-07-06 to 2009-01-09
Freq: -1D
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Block Reward  4197 non-null   float64
 1   Fee Reward    4197 non-null   float64
dtypes: float64(2)
memory usage: 258.4 KB

In [25]:
data_price=data_price.groupby(pd.Grouper(key="Timestamp", freq = '1D'))[["market-price"]].sum()

In [26]:
data_price= data_price.replace(0,np.nan)

In [31]:
data_price=data_price.interpolate(method='polynomial', order=3)

In [185]:
data_price=datico

In [27]:
data_price=data_price.reset_index()
datos=datos.reset_index()

In [32]:
data_price

      Timestamp       market-price
0    2009-01-02                nan
1    2009-01-03                nan
2    2009-01-04                nan
3    2009-01-05                nan
4    2009-01-06                nan
...         ...                ...
4200 2020-07-03 9,101.928704620062
4201 2020-07-04           9,072.42
4202 2020-07-05 9,080.471295379935
4203 2020-07-06 9,160.996619224918
4204 2020-07-07           9,348.91

[4205 rows x 2 columns]

In [33]:
data_price.shape

(4205, 2)

In [45]:
datos_hash=pd.read_csv("../../blockchain data\external data\hash-rate.csv")

In [34]:
datos.shape

(4197, 3)

In [52]:
datos_hash= datos_hash.replace(0,np.nan)

In [53]:
datos_hash.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4205 entries, 2009-01-02 to 2020-07-07
Freq: D
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   hash-rate  1401 non-null   float64
dtypes: float64(1)
memory usage: 65.7 KB

In [47]:
datos_hash["Timestamp"]=pd.to_datetime(datos_hash["Timestamp"])

In [54]:
datos_hash

                      hash-rate
Timestamp
2009-01-02 4.97102696296296e-08
2009-01-03                  nan
2009-01-04                  nan
2009-01-05                  nan
2009-01-06                  nan
...                         ...
2020-07-03                  nan
2020-07-04 123,188,120.48863702
2020-07-05                  nan
2020-07-06                  nan
2020-07-07 126,326,671.32911201

[4205 rows x 1 columns]

In [50]:
datos_hash=datos_hash.groupby(pd.Grouper(key="Timestamp", freq = '1D'))[["hash-rate"]].sum()

In [35]:
datos_inner=pd.merge(datos, data_price, how = 'inner', on = 'Timestamp')

In [36]:
datos_inner

      Timestamp  Block Reward         Fee Reward       market-price
0    2020-07-06         912.5          35.360644 9,160.996619224918
1    2020-07-05      1,018.75 25.109559299999997 9,080.471295379935
2    2020-07-04        981.25 31.870481280000003           9,072.42
3    2020-07-03      1,018.75  53.78625541000005 9,101.928704620062
4    2020-07-02       1,025.0 56.014036659999995  9,134.08338077508
...         ...           ...                ...                ...
4192 2009-01-13       6,150.0                0.0                nan
4193 2009-01-12       4,700.0                0.0                nan
4194 2009-01-11       4,650.0                0.0                nan
4195 2009-01-10       3,050.0                0.0                nan
4196 2009-01-09         700.0                0.0                nan

[4197 rows x 4 columns]

In [41]:
datos_inner=datos_inner.fillna(0)

In [42]:
datos_inner["Total Reward USD"]=(datos_inner["Block Reward"]+datos_inner["Fee Reward"])*datos_inner["market-price"]

In [43]:
datos_inner

,Timestamp,Block Reward,Fee Reward,market-price,Total Reward USD
0,2020-07-06,912.5,35.360644,"9,160.996619224918","8,683,348.155180354"
1,2020-07-05,"1,018.75",25.109559299999997,"9,080.471295379935","9,478,736.7646316"
2,2020-07-04,981.25,31.870481280000003,"9,072.42","9,191,454.516774299"
3,2020-07-03,"1,018.75",53.78625541000005,"9,101.928704620062","9,762,148.529861994"
4,2020-07-02,"1,025.0",56.014036659999995,"9,134.08338077508","9,874,072.346640691"
...,...,...,...,...,...
4192,2009-01-13,"6,150.0",0.0,0.0,0.0
4193,2009-01-12,"4,700.0",0.0,0.0,0.0
4194,2009-01-11,"4,650.0",0.0,0.0,0.0
4195,2009-01-10,"3,050.0",0.0,0.0,0.0
4196,2009-01-09,700.0,0.0,0.0,0.0

In [56]:
datos_hash=datos_hash.interpolate()

In [57]:
datos_inner.to_csv("datos_casi.csv")

In [61]:
datos_hash=datos_hash.reset_index()

In [62]:
datos_hash

      Timestamp              hash-rate
0    2009-01-02   4.97102696296296e-08
1    2009-01-03 1.5741585382716053e-07
2    2009-01-04 2.6512143802469144e-07
3    2009-01-05 3.7282702222222236e-07
4    2009-01-06  4.805326064197532e-07
...         ...                    ...
4200 2020-07-03   124,495,850.00550167
4201 2020-07-04   123,188,120.48863702
4202 2020-07-05   124,234,304.10212868
4203 2020-07-06   125,280,487.71562034
4204 2020-07-07   126,326,671.32911201

[4205 rows x 2 columns]

In [63]:
data=pd.merge(datos_inner, datos_hash, how = 'inner', on = 'Timestamp')

In [64]:
data

,Timestamp,Block Reward,Fee Reward,market-price,Total Reward USD,hash-rate
0,2020-07-06,912.5,35.360644,"9,160.996619224918","8,683,348.155180354","125,280,487.71562034"
1,2020-07-05,"1,018.75",25.109559299999997,"9,080.471295379935","9,478,736.7646316","124,234,304.10212868"
2,2020-07-04,981.25,31.870481280000003,"9,072.42","9,191,454.516774299","123,188,120.48863702"
3,2020-07-03,"1,018.75",53.78625541000005,"9,101.928704620062","9,762,148.529861994","124,495,850.00550167"
4,2020-07-02,"1,025.0",56.014036659999995,"9,134.08338077508","9,874,072.346640691","125,803,579.52236634"
...,...,...,...,...,...,...
4192,2009-01-13,"6,150.0",0.0,0.0,0.0,5.68354082765432e-06
4193,2009-01-12,"4,700.0",0.0,0.0,0.0,5.05387741234568e-06
4194,2009-01-11,"4,650.0",0.0,0.0,0.0,4.42421399703704e-06
4195,2009-01-10,"3,050.0",0.0,0.0,0.0,3.181457256296298e-06
4196,2009-01-09,700.0,0.0,0.0,0.0,1.9387005155555567e-06

In [65]:
data.to_csv("datos_casi.csv")

In [66]:
#Incorporando la cantidad de transacciones