In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
data_electric=pd.read_csv("../blockchain data/costo_electrico.csv")

In [3]:
url_pages="https://www.saberespractico.com/geografia/paises/paises-del-mundo"
url_pages=requests.get(url_pages)
if url_pages.status_code==200:
    sopa=BeautifulSoup(url_pages.text, "html5lib")
    links=sopa.find("ol")
    li=links.find_all("li")

In [4]:
paises=[li[i].get_text() for i in range(len(li))]

In [6]:
data_electric

       Unnamed: 0  (Kw/h) USD
0           Sudán        0.00
1       Venezuela        0.00
2            Cuba        0.01
3           Libia        0.01
4         Etiopía        0.01
..            ...         ...
136       Bahamas        0.31
137  Islas Caimán        0.33
138     Dinamarca        0.34
139      Alemania        0.36
140      Bermudas        0.39

[141 rows x 2 columns]

In [7]:
data_2=pd.DataFrame(paises)

In [8]:
data_2

              0
0    Afganistán
1       Albania
2      Alemania
3       Andorra
4        Angola
..          ...
189     Vietnam
190       Yemen
191      Yibuti
192      Zambia
193    Zimbabue

[194 rows x 1 columns]

In [11]:
data=data_2.set_index(0).join(data_electric.set_index("Unnamed: 0"))

In [12]:
data

            (Kw/h) USD
0
Afganistán        0.05
Albania           0.10
Alemania          0.36
Andorra            NaN
Angola            0.02
...                ...
Vietnam            NaN
Yemen              NaN
Yibuti             NaN
Zambia            0.03
Zimbabue           NaN

[194 rows x 1 columns]

In [28]:
data =data.rename_axis("Countrys")

In [29]:
data

            (Kw/h) USD
Countrys
Afganistán        0.05
Albania           0.10
Alemania          0.36
Andorra            NaN
Angola            0.02
...                ...
Vietnam            NaN
Yemen              NaN
Yibuti             NaN
Zambia            0.03
Zimbabue           NaN

[194 rows x 1 columns]

In [30]:
data.to_csv("../blockchain data/costo_electrico.csv")

# Scrappeando los precios actuales de antminer

In [1]:
url_antminer="https://shop.bitmain.com"

In [2]:
def antminer_scrapper(url_antminer):
    data_temp=[]
    
    url_pages=requests.get(url_antminer)
    
    if url_pages.status_code==200:
        sopa=BeautifulSoup(url_pages.text, "html5lib")
        divs=sopa.find_all("div",attrs={"class":"component b-nYC1sTcomponent b-nYC1sT"})
        links=[divs.get("href") for link in divs]

        for i in range(len(links)):
            temp={}
            url_page=requests.get(links[i])
            if url_page.status_code==200:
                s=BeautifulSoup(url_page.text, "html5lib")

                divs=s.find_all("div",attrs={"class":"summary"})
                temp["Models Miners"]=divs.find("h1").get_text()
                temp["Models Price"]=divs.find("p",attrs={"class":"price text-gray"}).get_text()
                temp["TH/S"]             =s.find("td",attrs={"class":"xl73"}).get_text()
                temp["Watts Consumption"]=s.find("td",attrs={"class":"xl72"}).get_text()

                data_temp.append(temp)
        return data_temp

In [5]:
data_antminer=antminer_scrapper(url_antminer)

In [6]:
data_antminer

[]

In [7]:
url_pages=requests.get(url_antminer)

In [24]:
import time

In [53]:
url_pages = requests.get(url_antminer)
sopa=BeautifulSoup(url_pages.text, "html5lib")
divs=sopa.find_all("a",attrs={"class":"item soldou"})
links=[divs.get("href") for link in divs]

In [54]:
divs

[]

In [29]:
from selenium import webdriver

In [32]:
options = webdriver.ChromeOptions()
options.add_argument('--incognito')
driver = webdriver.Chrome(executable_path='chromedriver', options=options)
driver.get(url_antminer)

In [37]:
driver.find_element_by_xpath('.//body')

<selenium.webdriver.remote.webelement.WebElement (session="c2f958674ef4dcc8f07fd58e526e9bbf", element="8811d877-9df1-4815-a00e-faebe27c5339")>

In [ ]:
sopa=BeautifulSoup(url_pages.text, "html5lib")
divs=sopa.find_all("a",attrs={"class":"item soldoutitem soldout"})
links=[divs.get("href") for link in divs]

In [58]:
driver.find_element_by_xpath('.//div[@class="component b-nYC1sT"]').get_attribute('href')