In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("../../blockchain data/bc data/data_update_2020-07-06.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638045 entries, 0 to 638044
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              638045 non-null  int64
 1   Hash                    638045 non-null  object
 2   Confirmations           638045 non-null  object
 3   Timestamp               638045 non-null  object
 4   Height                  638045 non-null  int64
 5   Number of Transactions  638045 non-null  object
 6   Difficulty              638045 non-null  object
 7   Merkle root             638045 non-null  object
 8   Version                 638045 non-null  object
 9   Bits                    638045 non-null  object
 10  Weight                  638045 non-null  object
 11  Size                    638045 non-null  object
 12  Nonce                   638045 non-null  object
 13  Transaction Volume      638045 non-null  object
 14  Block Reward            638045 non-null  object
 15  Fee Reward              638045 non-null  object
 16  Miner Name              638045 non-null  object
 17  URL Miner               638045 non-null  object
dtypes: int64(2), object(16)
memory usage: 87.6+ MB

In [7]:
data=data[["Fee Reward","Timestamp","Height"]]

In [8]:
data

            Fee Reward         Timestamp  Height
0       0.21808885 BTC  2020-07-06 22:45  638045
1       0.30686360 BTC  2020-07-06 22:42  638044
2       0.25770656 BTC  2020-07-06 22:27  638043
3       0.28058000 BTC  2020-07-06 22:20  638042
4       0.27827185 BTC  2020-07-06 22:11  638041
...                ...               ...     ...
638040  0.00000000 BTC  2009-01-09 03:23       5
638041  0.00000000 BTC  2009-01-09 03:16       4
638042  0.00000000 BTC  2009-01-09 03:02       3
638043  0.00000000 BTC  2009-01-09 02:55       2
638044  0.00000000 BTC  2009-01-09 02:54       1

[638045 rows x 3 columns]

In [9]:
data["Fee Reward"]=data['Fee Reward'].map(lambda x: x.rstrip(' BTC'))

In [12]:
data["Timestamp"]=pd.to_datetime(data['Timestamp'])

In [13]:
data["Fee Reward"]=data["Fee Reward"].astype('float')

In [14]:
data

        Fee Reward           Timestamp  Height
0         0.218089 2020-07-06 22:45:00  638045
1         0.306864 2020-07-06 22:42:00  638044
2         0.257707 2020-07-06 22:27:00  638043
3         0.280580 2020-07-06 22:20:00  638042
4         0.278272 2020-07-06 22:11:00  638041
...            ...                 ...     ...
638040    0.000000 2009-01-09 03:23:00       5
638041    0.000000 2009-01-09 03:16:00       4
638042    0.000000 2009-01-09 03:02:00       3
638043    0.000000 2009-01-09 02:55:00       2
638044    0.000000 2009-01-09 02:54:00       1

[638045 rows x 3 columns]

In [30]:
data[data["Fee Reward"]==184467440724.5955]

          Fee Reward           Timestamp  Height
136319  1.844674e+11 2017-12-30 12:55:00  501726

In [21]:
data.loc[data["Fee Reward"]==184467440737.09552]

          Fee Reward           Timestamp  Height
513321  1.844674e+11 2011-05-18 00:21:00  124724

In [29]:
max(data["Fee Reward"])

184467440724.5955

In [28]:
data["Fee Reward"][111454]=0.1

In [3]:
import torch

ModuleNotFoundError: No module named 'torch'

In [4]:
import numpy as np

In [8]:
a=np.array([[1, 2],
[3, 4],
[5 ,6]])

In [9]:
np.linalg.pinv(a)

array([[-1.33333333, -0.33333333,  0.66666667],
       [ 1.08333333,  0.33333333, -0.41666667]])

In [11]:
a=np.array([[3 ,4], [3 ,2]])
np.linalg.eig(a)

(array([ 6., -1.]), array([[ 0.8       , -0.70710678],
        [ 0.6       ,  0.70710678]]))

In [25]:
matriz=np.array([[1,4],[2,5],[-3,6]])

In [26]:
b=np.linalg.pinv(matriz)

In [15]:
matriz.dot(b)

array([[ 0.31355932,  0.45762712,  0.07627119],
       [ 0.45762712,  0.69491525, -0.05084746],
       [ 0.07627119, -0.05084746,  0.99152542]])

In [16]:
b.dot(matriz)

array([[ 1.00000000e+00,  0.00000000e+00],
       [-2.77555756e-17,  1.00000000e+00]])

In [20]:
a,b=np.linalg.pinv(matriz)

In [21]:
a

array([ 0.08757062,  0.16384181, -0.19491525])

In [28]:
solu=np.array([[1],[2],[-3]])

In [29]:
b.dot(solu)

array([[ 1.00000000e+00],
       [-2.77555756e-17]])

In [1]:
import torch

In [5]:
new_tensor = torch.tensor([[1.0, 2.0],[3.0, 4.0]])
print(torch.mean(new_tensor, dim=1),
      torch.mean(new_tensor, dim=0),
      torch.mean(new_tensor))

tensor([1.5000, 3.5000]) tensor([2., 3.]) tensor(2.5000)

In [2]:
a=np.array([[1, 2],
[3, 4],
[5, 6]])

In [3]:
np.linalg.pinv(a)

array([[-1.33333333, -0.33333333,  0.66666667],
       [ 1.08333333,  0.33333333, -0.41666667]])