In [1]:
import pandas as pd
import requests

In [2]:

def blockchain_stats():

    # Español
    # Informacion En estadistica del Blockchain

    # English 
    # Info Blockchain Stats

    url_pool= "https://api.blockchain.info/stats"
    r = requests.get(url_pool)
    datos_varios=r.json()
    
    return datos_varios

In [3]:
stats=blockchain_stats()

In [12]:
stats

{'timestamp': 1595028295000.0,
 'market_price_usd': 9159.94,
 'hash_rate': 102610343656.71031,
 'total_fees_btc': 7792628502,
 'n_btc_mined': 74375000000,
 'n_tx': 295730,
 'n_blocks_mined': 119,
 'minutes_between_blocks': 11.6186,
 'totalbc': 1843548750000000,
 'n_blocks_total': 639678,
 'estimated_transaction_volume_usd': 1107450734.9188468,
 'blocks_size': 150421264,
 'miners_revenue_usd': 7526505.470206102,
 'nextretarget': 641087,
 'difficulty': 17345948872516,
 'estimated_btc_sent': 12090152718455,
 'miners_revenue_btc': 821,
 'total_btc_sent': 86858736672515,
 'trade_volume_btc': 5613.51,
 'trade_volume_usd': 51419414.789400004}

In [4]:
data_rewards=pd.read_csv("history_data_miners_rewards.csv")

In [16]:
data_rewards

,Unnamed: 0,Timestamp,Block Reward,Fee Reward,market-price,Total Reward USD,hash-rate,Number of Transactions,TH/s Rewards USD
0,0,2020-07-06,912.50,35.360644,9160.996619,8.683348e+06,1.252805e+08,319444.0,0.069311
1,1,2020-07-05,1018.75,25.109559,9080.471295,9.478737e+06,1.242343e+08,274104.0,0.076297
2,2,2020-07-04,981.25,31.870481,9072.420000,9.191455e+06,1.231881e+08,288647.0,0.074613
3,3,2020-07-03,1018.75,53.786255,9101.928705,9.762149e+06,1.244959e+08,331009.0,0.078413
4,4,2020-07-02,1025.00,56.014037,9134.083381,9.874072e+06,1.258036e+08,339469.0,0.078488
...,...,...,...,...,...,...,...,...,...
4192,4192,2009-01-13,6150.00,0.000000,0.000000,0.000000e+00,5.683541e-06,0.0,0.000000
4193,4193,2009-01-12,4700.00,0.000000,0.000000,0.000000e+00,5.053877e-06,0.0,0.000000
4194,4194,2009-01-11,4650.00,0.000000,0.000000,0.000000e+00,4.424214e-06,0.0,0.000000
4195,4195,2009-01-10,3050.00,0.000000,0.000000,0.000000e+00,3.181457e-06,0.0,0.000000
4196,4196,2009-01-09,700.00,0.000000,0.000000,0.000000e+00,1.938701e-06,0.0,0.000000

In [5]:
data_elec=pd.read_csv("../../blockchain data\costo_electrico.csv")

In [159]:
data_model=pd.read_csv("../../blockchain data/models_prices_th.csv")

In [49]:
data_elec.loc[data_elec["Countrys"]=="Irak"]

   Unnamed: 0 Countrys  (Kw/h) USD
8           8     Irak        0.02

In [20]:
data_model

                    Models    Price  Power Consumtion  TH/s
0  Antminer S19 Pro 110TH/s  2407.0              3250   110
1    Antminer S19 - 95TH/s   1785.0              3250    95
2     Antminer T17+ 58TH/s    817.0              2900    58
3    Antminer T19 - 84TH/s   1749.0              3150    84
4     Antminer S17e-60TH/s    799.0              2700    60
5     Antminer S17+ 70TH/s   1232.0              2800    70
6    Antminer S9 SE-16TH/s     95.0              1280    16
7    Antminer S9k-13.5TH/s     63.0              1148    14
8      INNOSILICON T2T-29T    499.0              2200    29

In [53]:
def watt(power,cost):
    y=(((power/1000)*24*365)/12)*cost
    return y

In [23]:
paises=list(data_elec["Countrys"])

In [25]:
costo_paises=list(data_elec["(Kw/h) USD"])

In [58]:
lista_data=[]
temp={}
for i in range(len(paises)):
    temp["Monthly Electricity Bill"]=data_model["Power Consumtion"].apply(watt,cost=costo_paises[i])
    lista_data.append(temp)
    # for i in range(9):
    #     lista_data["Country"]=paises[i]

In [61]:
len(costo_paises)==len(paises)

True

In [43]:
data_model.T

,0,1,2,3,4,5,6,7,8
Models,Antminer S19 Pro 110TH/s,Antminer S19 - 95TH/s,Antminer T17+ 58TH/s,Antminer T19 - 84TH/s,Antminer S17e-60TH/s,Antminer S17+ 70TH/s,Antminer S9 SE-16TH/s,Antminer S9k-13.5TH/s,INNOSILICON T2T-29T
Price,2407,1785,817,1749,799,1232,95,63,499
Power Consumtion,3250,3250,2900,3150,2700,2800,1280,1148,2200
TH/s,110,95,58,84,60,70,16,14,29
Venezuela,6.1685,6.1685,5.5042,5.9787,5.1246,5.3144,2.42944,2.1789,4.1756
...,...,...,...,...,...,...,...,...,...
Alemania,854.1,854.1,762.12,827.82,709.56,735.84,336.384,301.694,578.16
Rumanía,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
San Marino,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
Malta,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
Antigua y Barbuda,1043.9,1043.9,931.48,1011.78,867.24,899.36,411.136,368.738,706.64

In [44]:
data_model

,Models,Price,Power Consumtion,TH/s,Venezuela,Arabia Saudita,Bielorrusia,Egipto,Sudán,Libia,...,Portugal,Bélgica,Bahamas,Jamaica,Dinamarca,Alemania,Rumanía,San Marino,Malta,Antigua y Barbuda
0,Antminer S19 Pro 110TH/s,2407.0,3250,110,6.168500,8.30375,18.742750,21.35250,23.7250,23.7250,...,711.750,735.4750,735.4750,782.9250,806.6500,854.1000,949.000,949.000,949.000,1043.9000
1,Antminer S19 - 95TH/s,1785.0,3250,95,6.168500,8.30375,18.742750,21.35250,23.7250,23.7250,...,711.750,735.4750,735.4750,782.9250,806.6500,854.1000,949.000,949.000,949.000,1043.9000
2,Antminer T17+ 58TH/s,817.0,2900,58,5.504200,7.40950,16.724300,19.05300,21.1700,21.1700,...,635.100,656.2700,656.2700,698.6100,719.7800,762.1200,846.800,846.800,846.800,931.4800
3,Antminer T19 - 84TH/s,1749.0,3150,84,5.978700,8.04825,18.166050,20.69550,22.9950,22.9950,...,689.850,712.8450,712.8450,758.8350,781.8300,827.8200,919.800,919.800,919.800,1011.7800
4,Antminer S17e-60TH/s,799.0,2700,60,5.124600,6.89850,15.570900,17.73900,19.7100,19.7100,...,591.300,611.0100,611.0100,650.4300,670.1400,709.5600,788.400,788.400,788.400,867.2400
5,Antminer S17+ 70TH/s,1232.0,2800,70,5.314400,7.15400,16.147600,18.39600,20.4400,20.4400,...,613.200,633.6400,633.6400,674.5200,694.9600,735.8400,817.600,817.600,817.600,899.3600
6,Antminer S9 SE-16TH/s,95.0,1280,16,2.429440,3.27040,7.381760,8.40960,9.3440,9.3440,...,280.320,289.6640,289.6640,308.3520,317.6960,336.3840,373.760,373.760,373.760,411.1360
7,Antminer S9k-13.5TH/s,63.0,1148,14,2.178904,2.93314,6.620516,7.54236,8.3804,8.3804,...,251.412,259.7924,259.7924,276.5532,284.9336,301.6944,335.216,335.216,335.216,368.7376
8,INNOSILICON T2T-29T,499.0,2200,29,4.175600,5.62100,12.687400,14.45400,16.0600,16.0600,...,481.800,497.8600,497.8600,529.9800,546.0400,578.1600,642.400,642.400,642.400,706.6400

## buscando el error

In [51]:
data_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Models            9 non-null      object
 1   Price             9 non-null      float64
 2   Power Consumtion  9 non-null      int64
 3   TH/s              9 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 416.0+ bytes

In [52]:
data_elec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  131 non-null    int64
 1   Countrys    131 non-null    object
 2   (Kw/h) USD  131 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ KB

# COntinue

In [84]:
datos=pd.read_csv("provicional.csv")

In [85]:
datos

,Unnamed: 0,Models,Price,Power Consumtion,TH/s,Venezuela,Arabia Saudita,Bielorrusia,Egipto,Sudán,...,Portugal,Bélgica,Bahamas,Jamaica,Dinamarca,Alemania,Rumanía,San Marino,Malta,Antigua y Barbuda
0,0,Antminer S19 Pro 110TH/s,2407.0,3250,110,6.168500,8.30375,18.742750,21.35250,23.7250,...,711.750,735.4750,735.4750,782.9250,806.6500,854.1000,949.000,949.000,949.000,1043.9000
1,1,Antminer S19 - 95TH/s,1785.0,3250,95,6.168500,8.30375,18.742750,21.35250,23.7250,...,711.750,735.4750,735.4750,782.9250,806.6500,854.1000,949.000,949.000,949.000,1043.9000
2,2,Antminer T17+ 58TH/s,817.0,2900,58,5.504200,7.40950,16.724300,19.05300,21.1700,...,635.100,656.2700,656.2700,698.6100,719.7800,762.1200,846.800,846.800,846.800,931.4800
3,3,Antminer T19 - 84TH/s,1749.0,3150,84,5.978700,8.04825,18.166050,20.69550,22.9950,...,689.850,712.8450,712.8450,758.8350,781.8300,827.8200,919.800,919.800,919.800,1011.7800
4,4,Antminer S17e-60TH/s,799.0,2700,60,5.124600,6.89850,15.570900,17.73900,19.7100,...,591.300,611.0100,611.0100,650.4300,670.1400,709.5600,788.400,788.400,788.400,867.2400
5,5,Antminer S17+ 70TH/s,1232.0,2800,70,5.314400,7.15400,16.147600,18.39600,20.4400,...,613.200,633.6400,633.6400,674.5200,694.9600,735.8400,817.600,817.600,817.600,899.3600
6,6,Antminer S9 SE-16TH/s,95.0,1280,16,2.429440,3.27040,7.381760,8.40960,9.3440,...,280.320,289.6640,289.6640,308.3520,317.6960,336.3840,373.760,373.760,373.760,411.1360
7,7,Antminer S9k-13.5TH/s,63.0,1148,14,2.178904,2.93314,6.620516,7.54236,8.3804,...,251.412,259.7924,259.7924,276.5532,284.9336,301.6944,335.216,335.216,335.216,368.7376
8,8,INNOSILICON T2T-29T,499.0,2200,29,4.175600,5.62100,12.687400,14.45400,16.0600,...,481.800,497.8600,497.8600,529.9800,546.0400,578.1600,642.400,642.400,642.400,706.6400

In [86]:
datos.T.iloc[5:]

,0,1,2,3,4,5,6,7,8
Venezuela,6.1685,6.1685,5.5042,5.9787,5.1246,5.3144,2.42944,2.1789,4.1756
Arabia Saudita,8.30375,8.30375,7.4095,8.04825,6.8985,7.154,3.2704,2.93314,5.621
Bielorrusia,18.7428,18.7428,16.7243,18.166,15.5709,16.1476,7.38176,6.62052,12.6874
Egipto,21.3525,21.3525,19.053,20.6955,17.739,18.396,8.4096,7.54236,14.454
Sudán,23.725,23.725,21.17,22.995,19.71,20.44,9.344,8.3804,16.06
...,...,...,...,...,...,...,...,...,...
Alemania,854.1,854.1,762.12,827.82,709.56,735.84,336.384,301.694,578.16
Rumanía,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
San Marino,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
Malta,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
Antigua y Barbuda,1043.9,1043.9,931.48,1011.78,867.24,899.36,411.136,368.738,706.64

In [87]:
datos_1=datos.T.iloc[5:]
datos_1.index.name="Country"

In [88]:
datos_1

,0,1,2,3,4,5,6,7,8
Country,,,,,,,,,
Venezuela,6.1685,6.1685,5.5042,5.9787,5.1246,5.3144,2.42944,2.1789,4.1756
Arabia Saudita,8.30375,8.30375,7.4095,8.04825,6.8985,7.154,3.2704,2.93314,5.621
Bielorrusia,18.7428,18.7428,16.7243,18.166,15.5709,16.1476,7.38176,6.62052,12.6874
Egipto,21.3525,21.3525,19.053,20.6955,17.739,18.396,8.4096,7.54236,14.454
Sudán,23.725,23.725,21.17,22.995,19.71,20.44,9.344,8.3804,16.06
...,...,...,...,...,...,...,...,...,...
Alemania,854.1,854.1,762.12,827.82,709.56,735.84,336.384,301.694,578.16
Rumanía,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
San Marino,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
Malta,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
Antigua y Barbuda,1043.9,1043.9,931.48,1011.78,867.24,899.36,411.136,368.738,706.64

In [89]:
datos_1.columns=['Antminer S19 Pro 110TH/s',
 'Antminer S19 - 95TH/s ',
 'Antminer T17+ 58TH/s ',
 'Antminer T19 - 84TH/s ',
 'Antminer S17e-60TH/s ',
 'Antminer S17+ 70TH/s ',
 'Antminer S9 SE-16TH/s ',
 'Antminer S9k-13.5TH/s ',
 'INNOSILICON T2T-29T ']

In [90]:
datos_1

,Antminer S19 Pro 110TH/s,Antminer S19 - 95TH/s,Antminer T17+ 58TH/s,Antminer T19 - 84TH/s,Antminer S17e-60TH/s,Antminer S17+ 70TH/s,Antminer S9 SE-16TH/s,Antminer S9k-13.5TH/s,INNOSILICON T2T-29T
Country,,,,,,,,,
Venezuela,6.1685,6.1685,5.5042,5.9787,5.1246,5.3144,2.42944,2.1789,4.1756
Arabia Saudita,8.30375,8.30375,7.4095,8.04825,6.8985,7.154,3.2704,2.93314,5.621
Bielorrusia,18.7428,18.7428,16.7243,18.166,15.5709,16.1476,7.38176,6.62052,12.6874
Egipto,21.3525,21.3525,19.053,20.6955,17.739,18.396,8.4096,7.54236,14.454
Sudán,23.725,23.725,21.17,22.995,19.71,20.44,9.344,8.3804,16.06
...,...,...,...,...,...,...,...,...,...
Alemania,854.1,854.1,762.12,827.82,709.56,735.84,336.384,301.694,578.16
Rumanía,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
San Marino,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
Malta,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
Antigua y Barbuda,1043.9,1043.9,931.48,1011.78,867.24,899.36,411.136,368.738,706.64

In [28]:
list(datos["Models "])

['Antminer S19 Pro 110TH/s',
 'Antminer S19 - 95TH/s ',
 'Antminer T17+ 58TH/s ',
 'Antminer T19 - 84TH/s ',
 'Antminer S17e-60TH/s ',
 'Antminer S17+ 70TH/s ',
 'Antminer S9 SE-16TH/s ',
 'Antminer S9k-13.5TH/s ',
 'INNOSILICON T2T-29T ']

In [31]:
datos_1.T

Country,Venezuela,Arabia Saudita,Bielorrusia,Egipto,Sudán,Libia,Irán,Angola,Irak,Nigeria,...,Portugal,Bélgica,Bahamas,Jamaica,Dinamarca,Alemania,Rumanía,San Marino,Malta,Antigua y Barbuda
Antminer S19 Pro 110TH/s,6.1685,8.30375,18.7428,21.3525,23.725,23.725,35.5875,47.45,47.45,47.45,...,711.75,735.475,735.475,782.925,806.65,854.1,949,949,949,1043.9
Antminer S19 - 95TH/s,6.1685,8.30375,18.7428,21.3525,23.725,23.725,35.5875,47.45,47.45,47.45,...,711.75,735.475,735.475,782.925,806.65,854.1,949,949,949,1043.9
Antminer T17+ 58TH/s,5.5042,7.4095,16.7243,19.053,21.17,21.17,31.755,42.34,42.34,42.34,...,635.1,656.27,656.27,698.61,719.78,762.12,846.8,846.8,846.8,931.48
Antminer T19 - 84TH/s,5.9787,8.04825,18.166,20.6955,22.995,22.995,34.4925,45.99,45.99,45.99,...,689.85,712.845,712.845,758.835,781.83,827.82,919.8,919.8,919.8,1011.78
Antminer S17e-60TH/s,5.1246,6.8985,15.5709,17.739,19.71,19.71,29.565,39.42,39.42,39.42,...,591.3,611.01,611.01,650.43,670.14,709.56,788.4,788.4,788.4,867.24
Antminer S17+ 70TH/s,5.3144,7.154,16.1476,18.396,20.44,20.44,30.66,40.88,40.88,40.88,...,613.2,633.64,633.64,674.52,694.96,735.84,817.6,817.6,817.6,899.36
Antminer S9 SE-16TH/s,2.42944,3.2704,7.38176,8.4096,9.344,9.344,14.016,18.688,18.688,18.688,...,280.32,289.664,289.664,308.352,317.696,336.384,373.76,373.76,373.76,411.136
Antminer S9k-13.5TH/s,2.1789,2.93314,6.62052,7.54236,8.3804,8.3804,12.5706,16.7608,16.7608,16.7608,...,251.412,259.792,259.792,276.553,284.934,301.694,335.216,335.216,335.216,368.738
INNOSILICON T2T-29T,4.1756,5.621,12.6874,14.454,16.06,16.06,24.09,32.12,32.12,32.12,...,481.8,497.86,497.86,529.98,546.04,578.16,642.4,642.4,642.4,706.64

In [34]:
datos_1.index.name="Country"

In [72]:
datos_1.T.index.name="Model"

In [73]:
datos_1

Model,Antminer S19 Pro 110TH/s,Antminer S19 - 95TH/s,Antminer T17+ 58TH/s,Antminer T19 - 84TH/s,Antminer S17e-60TH/s,Antminer S17+ 70TH/s,Antminer S9 SE-16TH/s,Antminer S9k-13.5TH/s,INNOSILICON T2T-29T,Country
0,6.1685,6.1685,5.5042,5.9787,5.1246,5.3144,2.42944,2.1789,4.1756,Venezuela
1,8.30375,8.30375,7.4095,8.04825,6.8985,7.154,3.2704,2.93314,5.621,Arabia Saudita
2,18.7428,18.7428,16.7243,18.166,15.5709,16.1476,7.38176,6.62052,12.6874,Bielorrusia
3,21.3525,21.3525,19.053,20.6955,17.739,18.396,8.4096,7.54236,14.454,Egipto
4,23.725,23.725,21.17,22.995,19.71,20.44,9.344,8.3804,16.06,Sudán
...,...,...,...,...,...,...,...,...,...,...
126,854.1,854.1,762.12,827.82,709.56,735.84,336.384,301.694,578.16,Alemania
127,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4,Rumanía
128,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4,San Marino
129,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4,Malta
130,1043.9,1043.9,931.48,1011.78,867.24,899.36,411.136,368.738,706.64,Antigua y Barbuda

In [43]:
list(datos_1)

['Antminer S19 Pro 110TH/s',
 'Antminer S19 - 95TH/s ',
 'Antminer T17+ 58TH/s ',
 'Antminer T19 - 84TH/s ',
 'Antminer S17e-60TH/s ',
 'Antminer S17+ 70TH/s ',
 'Antminer S9 SE-16TH/s ',
 'Antminer S9k-13.5TH/s ',
 'INNOSILICON T2T-29T ']

In [53]:
datos_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 131 entries, Venezuela to Antigua y Barbuda
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Antminer S19 Pro 110TH/s  131 non-null    object
 1   Antminer S19 - 95TH/s     131 non-null    object
 2   Antminer T17+ 58TH/s      131 non-null    object
 3   Antminer T19 - 84TH/s     131 non-null    object
 4   Antminer S17e-60TH/s      131 non-null    object
 5   Antminer S17+ 70TH/s      131 non-null    object
 6   Antminer S9 SE-16TH/s     131 non-null    object
 7   Antminer S9k-13.5TH/s     131 non-null    object
 8   INNOSILICON T2T-29T       131 non-null    object
dtypes: object(9)
memory usage: 10.2+ KB

In [54]:
datos_1.shape

(131, 9)

In [57]:
datos_1

,Antminer S19 Pro 110TH/s,Antminer S19 - 95TH/s,Antminer T17+ 58TH/s,Antminer T19 - 84TH/s,Antminer S17e-60TH/s,Antminer S17+ 70TH/s,Antminer S9 SE-16TH/s,Antminer S9k-13.5TH/s,INNOSILICON T2T-29T,Country
Country,,,,,,,,,,
Venezuela,6.1685,6.1685,5.5042,5.9787,5.1246,5.3144,2.42944,2.1789,4.1756,Venezuela
Arabia Saudita,8.30375,8.30375,7.4095,8.04825,6.8985,7.154,3.2704,2.93314,5.621,Arabia Saudita
Bielorrusia,18.7428,18.7428,16.7243,18.166,15.5709,16.1476,7.38176,6.62052,12.6874,Bielorrusia
Egipto,21.3525,21.3525,19.053,20.6955,17.739,18.396,8.4096,7.54236,14.454,Egipto
Sudán,23.725,23.725,21.17,22.995,19.71,20.44,9.344,8.3804,16.06,Sudán
...,...,...,...,...,...,...,...,...,...,...
Alemania,854.1,854.1,762.12,827.82,709.56,735.84,336.384,301.694,578.16,Alemania
Rumanía,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4,Rumanía
San Marino,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4,San Marino
Malta,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4,Malta
Antigua y Barbuda,1043.9,1043.9,931.48,1011.78,867.24,899.36,411.136,368.738,706.64,Antigua y Barbuda

In [56]:
datos_1["Country"]=datos_1.index

In [76]:
datos_1=datos_1.reset_index(drop=True)

In [83]:
datos_1

Model,Antminer S19 Pro 110TH/s,Antminer S19 - 95TH/s,Antminer T17+ 58TH/s,Antminer T19 - 84TH/s,Antminer S17e-60TH/s,Antminer S17+ 70TH/s,Antminer S9 SE-16TH/s,Antminer S9k-13.5TH/s,INNOSILICON T2T-29T,Country
0,6.1685,6.1685,5.5042,5.9787,5.1246,5.3144,2.42944,2.1789,4.1756,Venezuela
1,8.30375,8.30375,7.4095,8.04825,6.8985,7.154,3.2704,2.93314,5.621,Arabia Saudita
2,18.7428,18.7428,16.7243,18.166,15.5709,16.1476,7.38176,6.62052,12.6874,Bielorrusia
3,21.3525,21.3525,19.053,20.6955,17.739,18.396,8.4096,7.54236,14.454,Egipto
4,23.725,23.725,21.17,22.995,19.71,20.44,9.344,8.3804,16.06,Sudán
...,...,...,...,...,...,...,...,...,...,...
126,854.1,854.1,762.12,827.82,709.56,735.84,336.384,301.694,578.16,Alemania
127,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4,Rumanía
128,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4,San Marino
129,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4,Malta
130,1043.9,1043.9,931.48,1011.78,867.24,899.36,411.136,368.738,706.64,Antigua y Barbuda

In [62]:
datos_1["Country"]

Country
Venezuela                    Venezuela
Arabia Saudita          Arabia Saudita
Bielorrusia                Bielorrusia
Egipto                          Egipto
Sudán                            Sudán
                           ...
Alemania                      Alemania
Rumanía                        Rumanía
San Marino                  San Marino
Malta                            Malta
Antigua y Barbuda    Antigua y Barbuda
Name: Country, Length: 131, dtype: object

In [79]:
datos_1.T.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, Antminer S19 Pro 110TH/s to Country
Columns: 131 entries, 0 to 130
dtypes: object(131)
memory usage: 10.6+ KB

In [80]:
datos=datos_1.T

In [81]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, Antminer S19 Pro 110TH/s to Country
Columns: 131 entries, 0 to 130
dtypes: object(131)
memory usage: 10.6+ KB

In [82]:
datos

,0,1,2,3,4,5,6,7,8,9,...,121,122,123,124,125,126,127,128,129,130
Model,,,,,,,,,,,,,,,,,,,,,
Antminer S19 Pro 110TH/s,6.1685,8.30375,18.7428,21.3525,23.725,23.725,35.5875,47.45,47.45,47.45,...,711.75,735.475,735.475,782.925,806.65,854.1,949,949,949,1043.9
Antminer S19 - 95TH/s,6.1685,8.30375,18.7428,21.3525,23.725,23.725,35.5875,47.45,47.45,47.45,...,711.75,735.475,735.475,782.925,806.65,854.1,949,949,949,1043.9
Antminer T17+ 58TH/s,5.5042,7.4095,16.7243,19.053,21.17,21.17,31.755,42.34,42.34,42.34,...,635.1,656.27,656.27,698.61,719.78,762.12,846.8,846.8,846.8,931.48
Antminer T19 - 84TH/s,5.9787,8.04825,18.166,20.6955,22.995,22.995,34.4925,45.99,45.99,45.99,...,689.85,712.845,712.845,758.835,781.83,827.82,919.8,919.8,919.8,1011.78
Antminer S17e-60TH/s,5.1246,6.8985,15.5709,17.739,19.71,19.71,29.565,39.42,39.42,39.42,...,591.3,611.01,611.01,650.43,670.14,709.56,788.4,788.4,788.4,867.24
Antminer S17+ 70TH/s,5.3144,7.154,16.1476,18.396,20.44,20.44,30.66,40.88,40.88,40.88,...,613.2,633.64,633.64,674.52,694.96,735.84,817.6,817.6,817.6,899.36
Antminer S9 SE-16TH/s,2.42944,3.2704,7.38176,8.4096,9.344,9.344,14.016,18.688,18.688,18.688,...,280.32,289.664,289.664,308.352,317.696,336.384,373.76,373.76,373.76,411.136
Antminer S9k-13.5TH/s,2.1789,2.93314,6.62052,7.54236,8.3804,8.3804,12.5706,16.7608,16.7608,16.7608,...,251.412,259.792,259.792,276.553,284.934,301.694,335.216,335.216,335.216,368.738
INNOSILICON T2T-29T,4.1756,5.621,12.6874,14.454,16.06,16.06,24.09,32.12,32.12,32.12,...,481.8,497.86,497.86,529.98,546.04,578.16,642.4,642.4,642.4,706.64
Country,Venezuela,Arabia Saudita,Bielorrusia,Egipto,Sudán,Libia,Irán,Angola,Irak,Nigeria,...,Portugal,Bélgica,Bahamas,Jamaica,Dinamarca,Alemania,Rumanía,San Marino,Malta,Antigua y Barbuda

In [123]:
data_u=pd.DataFrame(datos_1.iloc[0])

In [124]:
data_u

                         Venezuela
Antminer S19 Pro 110TH/s    6.1685
Antminer S19 - 95TH/s       6.1685
Antminer T17+ 58TH/s        5.5042
Antminer T19 - 84TH/s       5.9787
Antminer S17e-60TH/s        5.1246
Antminer S17+ 70TH/s        5.3144
Antminer S9 SE-16TH/s      2.42944
Antminer S9k-13.5TH/s       2.1789
INNOSILICON T2T-29T         4.1756

In [143]:
temp=pd.DataFrame()
for i in range(2):
    data_u=pd.DataFrame(datos_1.iloc[i])
    data_u["Country"]=list(data_u)[0]
    data_u["Model"]=data_u.index
    data_u=data_u.rename(columns={list(data_u)[0]:"M.B.C USD"})
    data_u=data_u.reset_index(drop=True)
    data_u=data_u[["Model","Country","M.B.C USD"]]
    temp=temp.append(data_u)

In [144]:
temp

                      Model         Country M.B.C USD
0  Antminer S19 Pro 110TH/s       Venezuela    6.1685
1    Antminer S19 - 95TH/s        Venezuela    6.1685
2     Antminer T17+ 58TH/s        Venezuela    5.5042
3    Antminer T19 - 84TH/s        Venezuela    5.9787
4     Antminer S17e-60TH/s        Venezuela    5.1246
5     Antminer S17+ 70TH/s        Venezuela    5.3144
6    Antminer S9 SE-16TH/s        Venezuela   2.42944
7    Antminer S9k-13.5TH/s        Venezuela    2.1789
8      INNOSILICON T2T-29T        Venezuela    4.1756
0  Antminer S19 Pro 110TH/s  Arabia Saudita   8.30375
1    Antminer S19 - 95TH/s   Arabia Saudita   8.30375
2     Antminer T17+ 58TH/s   Arabia Saudita    7.4095
3    Antminer T19 - 84TH/s   Arabia Saudita   8.04825
4     Antminer S17e-60TH/s   Arabia Saudita    6.8985
5     Antminer S17+ 70TH/s   Arabia Saudita     7.154
6    Antminer S9 SE-16TH/s   Arabia Saudita    3.2704
7    Antminer S9k-13.5TH/s   Arabia Saudita   2.93314
8      INNOSILICON T2T-29T   Arabia Saudita     5.621

In [134]:
data_u

  M.B.C USD    Country                     Model
0    6.1685  Venezuela  Antminer S19 Pro 110TH/s
1    6.1685  Venezuela    Antminer S19 - 95TH/s
2    5.5042  Venezuela     Antminer T17+ 58TH/s
3    5.9787  Venezuela    Antminer T19 - 84TH/s
4    5.1246  Venezuela     Antminer S17e-60TH/s
5    5.3144  Venezuela     Antminer S17+ 70TH/s
6   2.42944  Venezuela    Antminer S9 SE-16TH/s
7    2.1789  Venezuela    Antminer S9k-13.5TH/s
8    4.1756  Venezuela      INNOSILICON T2T-29T

In [101]:
data_u["Model"]=data_u.index

In [105]:
data_u

  Venezuela                     Model
0    6.1685  Antminer S19 Pro 110TH/s
1    6.1685    Antminer S19 - 95TH/s
2    5.5042     Antminer T17+ 58TH/s
3    5.9787    Antminer T19 - 84TH/s
4    5.1246     Antminer S17e-60TH/s
5    5.3144     Antminer S17+ 70TH/s
6   2.42944    Antminer S9 SE-16TH/s
7    2.1789    Antminer S9k-13.5TH/s
8    4.1756      INNOSILICON T2T-29T

In [104]:
data_u=data_u.reset_index(drop=True)

In [106]:
data_u=data_u[["Model","Venezuela"]]

In [111]:
data_u

                            Model Venezuela
Country
0        Antminer S19 Pro 110TH/s    6.1685
1          Antminer S19 - 95TH/s     6.1685
2           Antminer T17+ 58TH/s     5.5042
3          Antminer T19 - 84TH/s     5.9787
4           Antminer S17e-60TH/s     5.1246
5           Antminer S17+ 70TH/s     5.3144
6          Antminer S9 SE-16TH/s    2.42944
7          Antminer S9k-13.5TH/s     2.1789
8            INNOSILICON T2T-29T     4.1756

In [108]:
data_u_copy=data_u.copy()

In [110]:
data_u.index.name="Country"

In [112]:
data_u["Country"]="Venezuela"

In [113]:
data_u

                            Model Venezuela    Country
Country
0        Antminer S19 Pro 110TH/s    6.1685  Venezuela
1          Antminer S19 - 95TH/s     6.1685  Venezuela
2           Antminer T17+ 58TH/s     5.5042  Venezuela
3          Antminer T19 - 84TH/s     5.9787  Venezuela
4           Antminer S17e-60TH/s     5.1246  Venezuela
5           Antminer S17+ 70TH/s     5.3144  Venezuela
6          Antminer S9 SE-16TH/s    2.42944  Venezuela
7          Antminer S9k-13.5TH/s     2.1789  Venezuela
8            INNOSILICON T2T-29T     4.1756  Venezuela

In [145]:
def modi_table():
    
    data_temp=pd.DataFrame()
    for i in range(len(datos_1)):
        data_u=pd.DataFrame(datos_1.iloc[i])
        data_u["Country"]=list(data_u)[0]
        data_u["Model"]=data_u.index
        data_u=data_u.rename(columns={list(data_u)[0]:"M.B.C USD"})
        data_u=data_u.reset_index(drop=True)
        data_u=data_u[["Model","Country","M.B.C USD"]]
        data_temp=data_temp.append(data_u)
    return data_temp

In [146]:
datos_new=modi_table()

In [147]:
datos_new

                       Model            Country M.B.C USD
0   Antminer S19 Pro 110TH/s          Venezuela    6.1685
1     Antminer S19 - 95TH/s           Venezuela    6.1685
2      Antminer T17+ 58TH/s           Venezuela    5.5042
3     Antminer T19 - 84TH/s           Venezuela    5.9787
4      Antminer S17e-60TH/s           Venezuela    5.1246
..                       ...                ...       ...
4      Antminer S17e-60TH/s   Antigua y Barbuda    867.24
5      Antminer S17+ 70TH/s   Antigua y Barbuda    899.36
6     Antminer S9 SE-16TH/s   Antigua y Barbuda   411.136
7     Antminer S9k-13.5TH/s   Antigua y Barbuda   368.738
8       INNOSILICON T2T-29T   Antigua y Barbuda    706.64

[1179 rows x 3 columns]

In [122]:
datos_1

,Antminer S19 Pro 110TH/s,Antminer S19 - 95TH/s,Antminer T17+ 58TH/s,Antminer T19 - 84TH/s,Antminer S17e-60TH/s,Antminer S17+ 70TH/s,Antminer S9 SE-16TH/s,Antminer S9k-13.5TH/s,INNOSILICON T2T-29T
Country,,,,,,,,,
Venezuela,6.1685,6.1685,5.5042,5.9787,5.1246,5.3144,2.42944,2.1789,4.1756
Arabia Saudita,8.30375,8.30375,7.4095,8.04825,6.8985,7.154,3.2704,2.93314,5.621
Bielorrusia,18.7428,18.7428,16.7243,18.166,15.5709,16.1476,7.38176,6.62052,12.6874
Egipto,21.3525,21.3525,19.053,20.6955,17.739,18.396,8.4096,7.54236,14.454
Sudán,23.725,23.725,21.17,22.995,19.71,20.44,9.344,8.3804,16.06
...,...,...,...,...,...,...,...,...,...
Alemania,854.1,854.1,762.12,827.82,709.56,735.84,336.384,301.694,578.16
Rumanía,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
San Marino,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
Malta,949,949,846.8,919.8,788.4,817.6,373.76,335.216,642.4
Antigua y Barbuda,1043.9,1043.9,931.48,1011.78,867.24,899.36,411.136,368.738,706.64

In [150]:
datos_new=datos_new.set_index(['Country',"Model"])

In [153]:
datos_new.head(15)

                                        M.B.C USD
Country        Model
Venezuela      Antminer S19 Pro 110TH/s    6.1685
               Antminer S19 - 95TH/s       6.1685
               Antminer T17+ 58TH/s        5.5042
               Antminer T19 - 84TH/s       5.9787
               Antminer S17e-60TH/s        5.1246
               Antminer S17+ 70TH/s        5.3144
               Antminer S9 SE-16TH/s      2.42944
               Antminer S9k-13.5TH/s       2.1789
               INNOSILICON T2T-29T         4.1756
Arabia Saudita Antminer S19 Pro 110TH/s   8.30375
               Antminer S19 - 95TH/s      8.30375
               Antminer T17+ 58TH/s        7.4095
               Antminer T19 - 84TH/s      8.04825
               Antminer S17e-60TH/s        6.8985
               Antminer S17+ 70TH/s         7.154

In [154]:
datos_new.to_csv("consumption_table_by_group.csv")

In [155]:
const=0.0002174

## COnstruyendo la otra parte de la tabla dinamica

In [160]:
data_model

                    Models    Price  Power Consumtion  TH/s
0  Antminer S19 Pro 110TH/s  2407.0              3250   110
1    Antminer S19 - 95TH/s   1785.0              3250    95
2     Antminer T17+ 58TH/s    817.0              2900    58
3    Antminer T19 - 84TH/s   1749.0              3150    84
4     Antminer S17e-60TH/s    799.0              2700    60
5     Antminer S17+ 70TH/s   1232.0              2800    70
6    Antminer S9 SE-16TH/s     95.0              1280    16
7    Antminer S9k-13.5TH/s     63.0              1148    14
8      INNOSILICON T2T-29T    499.0              2200    29

In [171]:
data=pd.merge(datos_new,data_model,how="left",left_on="Model",right_on="Models ")

In [167]:
data

     M.B.C USD                   Models    Price  Power Consumtion  TH/s
0       6.1685  Antminer S19 Pro 110TH/s  2407.0              3250   110
1      8.30375  Antminer S19 Pro 110TH/s  2407.0              3250   110
2      18.7428  Antminer S19 Pro 110TH/s  2407.0              3250   110
3      21.3525  Antminer S19 Pro 110TH/s  2407.0              3250   110
4       23.725  Antminer S19 Pro 110TH/s  2407.0              3250   110
...        ...                       ...     ...               ...   ...
1174    578.16      INNOSILICON T2T-29T    499.0              2200    29
1175     642.4      INNOSILICON T2T-29T    499.0              2200    29
1176     642.4      INNOSILICON T2T-29T    499.0              2200    29
1177     642.4      INNOSILICON T2T-29T    499.0              2200    29
1178    706.64      INNOSILICON T2T-29T    499.0              2200    29

[1179 rows x 5 columns]

In [165]:
data

     M.B.C USD                   Models    Price  Power Consumtion  TH/s
0       6.1685  Antminer S19 Pro 110TH/s  2407.0              3250   110
1       6.1685    Antminer S19 - 95TH/s   1785.0              3250    95
2       5.5042     Antminer T17+ 58TH/s    817.0              2900    58
3       5.9787    Antminer T19 - 84TH/s   1749.0              3150    84
4       5.1246     Antminer S17e-60TH/s    799.0              2700    60
...        ...                       ...     ...               ...   ...
1174    867.24     Antminer S17e-60TH/s    799.0              2700    60
1175    899.36     Antminer S17+ 70TH/s   1232.0              2800    70
1176   411.136    Antminer S9 SE-16TH/s     95.0              1280    16
1177   368.738    Antminer S9k-13.5TH/s     63.0              1148    14
1178    706.64      INNOSILICON T2T-29T    499.0              2200    29

[1179 rows x 5 columns]

In [164]:
list(data)

['M.B.C USD', 'Models ', 'Price', 'Power Consumtion', 'TH/s']

In [173]:
stats=blockchain_stats()
stats.get("market_price_usd")

9171.35

## Funcion para actualizar

In [212]:
# datos_new=pd.read_csv("consumption_table_by_group.csv")
# data_model=pd.read_csv("../../blockchain data/models_prices_th.csv")

# Const = la constante de crypto compare
# data_new y Data Model recargado

def profit_btc(datos_new,data_model):
    const=0.0002174
    stats=blockchain_stats()
    price=stats.get("market_price_usd")
    # price=9171.35
    
    data=pd.merge(datos_new,data_model,how="inner",left_on="Model",right_on="Models ")
    data=data.drop(['Models '],axis=1)
    data=data.set_index(['Country',"Model"]).sort_index()
    data["USD Profit"]=data['TH/s']*const*price
    data["BTC Profit"]=data['TH/s']*const
    return data

## _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_---_-_-_-_-_---_-_--

In [213]:
data_prueba=profit_btc(datos_new,data_model)

,Country,Model,M.B.C USD,Models,Price,Power Consumtion,TH/s,USD Profit,BTC Profit
0,Venezuela,Antminer S19 Pro 110TH/s,6.16850,Antminer S19 Pro 110TH/s,2407.0,3250,110,219.323664,0.023914
1,Arabia Saudita,Antminer S19 Pro 110TH/s,8.30375,Antminer S19 Pro 110TH/s,2407.0,3250,110,219.323664,0.023914
2,Bielorrusia,Antminer S19 Pro 110TH/s,18.74275,Antminer S19 Pro 110TH/s,2407.0,3250,110,219.323664,0.023914
3,Egipto,Antminer S19 Pro 110TH/s,21.35250,Antminer S19 Pro 110TH/s,2407.0,3250,110,219.323664,0.023914
4,Sudán,Antminer S19 Pro 110TH/s,23.72500,Antminer S19 Pro 110TH/s,2407.0,3250,110,219.323664,0.023914
...,...,...,...,...,...,...,...,...,...
1174,Alemania,INNOSILICON T2T-29T,578.16000,INNOSILICON T2T-29T,499.0,2200,29,57.821693,0.006305
1175,Rumanía,INNOSILICON T2T-29T,642.40000,INNOSILICON T2T-29T,499.0,2200,29,57.821693,0.006305
1176,San Marino,INNOSILICON T2T-29T,642.40000,INNOSILICON T2T-29T,499.0,2200,29,57.821693,0.006305
1177,Malta,INNOSILICON T2T-29T,642.40000,INNOSILICON T2T-29T,499.0,2200,29,57.821693,0.006305
1178,Antigua y Barbuda,INNOSILICON T2T-29T,706.64000,INNOSILICON T2T-29T,499.0,2200,29,57.821693,0.006305

In [210]:
stats=blockchain_stats()
price=stats.get("market_price_usd")
data["USD Profit"]=data['TH/s']*const*price
data["BTC Profit"]=data['TH/s']*const

In [211]:
data

,Country,Model,M.B.C USD,Models,Price,Power Consumtion,TH/s,USD Profit,BTC Profit
0,Venezuela,Antminer S19 Pro 110TH/s,6.16850,Antminer S19 Pro 110TH/s,2407.0,3250,110,219.323664,0.023914
1,Arabia Saudita,Antminer S19 Pro 110TH/s,8.30375,Antminer S19 Pro 110TH/s,2407.0,3250,110,219.323664,0.023914
2,Bielorrusia,Antminer S19 Pro 110TH/s,18.74275,Antminer S19 Pro 110TH/s,2407.0,3250,110,219.323664,0.023914
3,Egipto,Antminer S19 Pro 110TH/s,21.35250,Antminer S19 Pro 110TH/s,2407.0,3250,110,219.323664,0.023914
4,Sudán,Antminer S19 Pro 110TH/s,23.72500,Antminer S19 Pro 110TH/s,2407.0,3250,110,219.323664,0.023914
...,...,...,...,...,...,...,...,...,...
1174,Alemania,INNOSILICON T2T-29T,578.16000,INNOSILICON T2T-29T,499.0,2200,29,57.821693,0.006305
1175,Rumanía,INNOSILICON T2T-29T,642.40000,INNOSILICON T2T-29T,499.0,2200,29,57.821693,0.006305
1176,San Marino,INNOSILICON T2T-29T,642.40000,INNOSILICON T2T-29T,499.0,2200,29,57.821693,0.006305
1177,Malta,INNOSILICON T2T-29T,642.40000,INNOSILICON T2T-29T,499.0,2200,29,57.821693,0.006305
1178,Antigua y Barbuda,INNOSILICON T2T-29T,706.64000,INNOSILICON T2T-29T,499.0,2200,29,57.821693,0.006305

In [206]:
data

,Country,Model,M.B.C USD,Models,Price,Power Consumtion,TH/s
0,Venezuela,Antminer S19 Pro 110TH/s,6.16850,Antminer S19 Pro 110TH/s,2407.0,3250,110
1,Arabia Saudita,Antminer S19 Pro 110TH/s,8.30375,Antminer S19 Pro 110TH/s,2407.0,3250,110
2,Bielorrusia,Antminer S19 Pro 110TH/s,18.74275,Antminer S19 Pro 110TH/s,2407.0,3250,110
3,Egipto,Antminer S19 Pro 110TH/s,21.35250,Antminer S19 Pro 110TH/s,2407.0,3250,110
4,Sudán,Antminer S19 Pro 110TH/s,23.72500,Antminer S19 Pro 110TH/s,2407.0,3250,110
...,...,...,...,...,...,...,...
1174,Alemania,INNOSILICON T2T-29T,578.16000,INNOSILICON T2T-29T,499.0,2200,29
1175,Rumanía,INNOSILICON T2T-29T,642.40000,INNOSILICON T2T-29T,499.0,2200,29
1176,San Marino,INNOSILICON T2T-29T,642.40000,INNOSILICON T2T-29T,499.0,2200,29
1177,Malta,INNOSILICON T2T-29T,642.40000,INNOSILICON T2T-29T,499.0,2200,29
1178,Antigua y Barbuda,INNOSILICON T2T-29T,706.64000,INNOSILICON T2T-29T,499.0,2200,29

In [201]:
datos_new

                                           M.B.C USD  USD Profit  BTC Profit
Country           Model
Venezuela         Antminer S19 Pro 110TH/s    6.1685         NaN         NaN
                  Antminer S19 - 95TH/s       6.1685         NaN         NaN
                  Antminer T17+ 58TH/s        5.5042         NaN         NaN
                  Antminer T19 - 84TH/s       5.9787         NaN         NaN
                  Antminer S17e-60TH/s        5.1246         NaN         NaN
...                                              ...         ...         ...
Antigua y Barbuda Antminer S17e-60TH/s        867.24         NaN         NaN
                  Antminer S17+ 70TH/s        899.36         NaN         NaN
                  Antminer S9 SE-16TH/s      411.136         NaN         NaN
                  Antminer S9k-13.5TH/s      368.738         NaN         NaN
                  INNOSILICON T2T-29T         706.64         NaN         NaN

[1179 rows x 3 columns]

In [191]:
stats=blockchain_stats()
price=stats.get("market_price_usd")
data=pd.merge(datos_new,data_model,how="left",left_on="Model",right_on="Models ")
data["USD Profit"]=data['TH/s']*const*price
data["BTC Profit"]=data['TH/s']*const

219.3236639

In [195]:
data["BTC Profit"]=data['TH/s']*const

In [215]:
data=data.set_index(['Country',"Model"])

In [228]:
data=data_prueba.copy(deep=True)

In [246]:
data=data.drop(['Models '],axis=1)

In [251]:
data.groupby(['Country','Model'])[["Country"]]

,Country,Model,M.B.C USD,Price,Power Consumtion,TH/s,USD Profit,BTC Profit
0,Venezuela,Antminer S19 Pro 110TH/s,6.16850,2407.0,3250,110,219.323664,0.023914
1,Arabia Saudita,Antminer S19 Pro 110TH/s,8.30375,2407.0,3250,110,219.323664,0.023914
2,Bielorrusia,Antminer S19 Pro 110TH/s,18.74275,2407.0,3250,110,219.323664,0.023914
3,Egipto,Antminer S19 Pro 110TH/s,21.35250,2407.0,3250,110,219.323664,0.023914
4,Sudán,Antminer S19 Pro 110TH/s,23.72500,2407.0,3250,110,219.323664,0.023914
...,...,...,...,...,...,...,...,...
1174,Alemania,INNOSILICON T2T-29T,578.16000,499.0,2200,29,57.821693,0.006305
1175,Rumanía,INNOSILICON T2T-29T,642.40000,499.0,2200,29,57.821693,0.006305
1176,San Marino,INNOSILICON T2T-29T,642.40000,499.0,2200,29,57.821693,0.006305
1177,Malta,INNOSILICON T2T-29T,642.40000,499.0,2200,29,57.821693,0.006305
1178,Antigua y Barbuda,INNOSILICON T2T-29T,706.64000,499.0,2200,29,57.821693,0.006305

In [253]:
data=data.set_index(['Country',"Model"]).sort_index()

In [254]:
data

                                     M.B.C USD   Price  Power Consumtion  \
Country    Model
Afganistán Antminer S17+ 70TH/s       102.2000  1232.0              2800
           Antminer S17e-60TH/s        98.5500   799.0              2700
           Antminer S19 - 95TH/s      118.6250  1785.0              3250
           Antminer S19 Pro 110TH/s   118.6250  2407.0              3250
           Antminer S9 SE-16TH/s       46.7200    95.0              1280
...                                        ...     ...               ...
Zambia     Antminer S9 SE-16TH/s       28.0320    95.0              1280
           Antminer S9k-13.5TH/s       25.1412    63.0              1148
           Antminer T17+ 58TH/s        63.5100   817.0              2900
           Antminer T19 - 84TH/s       68.9850  1749.0              3150
           INNOSILICON T2T-29T         48.1800   499.0              2200

                                     TH/s  USD Profit  BTC Profit
Country    Model
Afganistán Antminer S17+ 70TH/s        70  139.569604    0.015218
           Antminer S17e-60TH/s        60  119.631089    0.013044
           Antminer S19 - 95TH/s       95  189.415892    0.020653
           Antminer S19 Pro 110TH/s   110  219.323664    0.023914
           Antminer S9 SE-16TH/s       16   31.901624    0.003478
...                                   ...         ...         ...
Zambia     Antminer S9 SE-16TH/s       16   31.901624    0.003478
           Antminer S9k-13.5TH/s       14   27.913921    0.003044
           Antminer T17+ 58TH/s        58  115.643386    0.012609
           Antminer T19 - 84TH/s       84  167.483525    0.018262
           INNOSILICON T2T-29T         29   57.821693    0.006305

[1179 rows x 6 columns]

In [259]:
data=data.drop(["Price"],axis=1)

In [260]:
data.to_csv("tabla_country_dinamica.csv")

In [262]:
data

                                     M.B.C USD  Power Consumtion  TH/s  \
Country    Model
Afganistán Antminer S17+ 70TH/s       102.2000              2800    70
           Antminer S17e-60TH/s        98.5500              2700    60
           Antminer S19 - 95TH/s      118.6250              3250    95
           Antminer S19 Pro 110TH/s   118.6250              3250   110
           Antminer S9 SE-16TH/s       46.7200              1280    16
...                                        ...               ...   ...
Zambia     Antminer S9 SE-16TH/s       28.0320              1280    16
           Antminer S9k-13.5TH/s       25.1412              1148    14
           Antminer T17+ 58TH/s        63.5100              2900    58
           Antminer T19 - 84TH/s       68.9850              3150    84
           INNOSILICON T2T-29T         48.1800              2200    29

                                     USD Profit  BTC Profit
Country    Model
Afganistán Antminer S17+ 70TH/s      139.569604    0.015218
           Antminer S17e-60TH/s      119.631089    0.013044
           Antminer S19 - 95TH/s     189.415892    0.020653
           Antminer S19 Pro 110TH/s  219.323664    0.023914
           Antminer S9 SE-16TH/s      31.901624    0.003478
...                                         ...         ...
Zambia     Antminer S9 SE-16TH/s      31.901624    0.003478
           Antminer S9k-13.5TH/s      27.913921    0.003044
           Antminer T17+ 58TH/s      115.643386    0.012609
           Antminer T19 - 84TH/s     167.483525    0.018262
           INNOSILICON T2T-29T        57.821693    0.006305

[1179 rows x 5 columns]

In [274]:
data.groupby(["Country"])["M.B.C USD"].sum()

Country
Afganistán     827.747000
Albania       1655.494000
Alemania      5959.778400
Andorra       2201.807020
Angola         331.098800
                 ...
Uganda        2979.889200
Uruguay       2979.889200
Venezuela       43.042844
Yibuti         463.538320
Zambia         496.648200
Name: M.B.C USD, Length: 131, dtype: float64